.comments_box {

	.fixed {
		max-width: var(--width-fixed-small);
	}

	.comments {
		@extend %loader;

		& + .buttons {
			margin: 0;

			.button {
				width: 100%;
				margin: var(--gap-grid-y) 0 0;
			}

		}

		.comment-respond {
			margin: var(--gap-grid-y) 0 0;
		}

	}

	.comment, .pingback {
		display: block;
		position: relative;
		padding-top: var(--gap-grid-y);
		margin-top: var(--gap-grid-y);
		border-top: 1px solid var(--color-border);
		font-size: var(--size-content);

		&:first-child {
			padding-top: 0;
			margin-top: 0;
			border-top-style: none;
		}

	}

	.comment {

		&.depth-3 .comment, &.depth-3 .comment-respond {
			margin-left: 0;
		}

		.comment, .comment-respond {
			margin-left: var(--gap-section-side);
		}

	}

	.inner {

		.header {
			display: flex;
			align-items: center;
			margin: 0 0 10px;
		}

		.name {
			display: block;
			margin: 0 6px 0 0;
			color: var(--color-heading);
			font-family: var(--font-heading);
			font-size: var(--size-base);
			font-weight: 700;
		}

		.date {
			display: inline-block;
			margin: 0 6px 0 0;
			color: var(--color-muted);
			font-size: var(--size-tiny);
		}

		.star-rating {
			margin: 0 0 0 auto;
		}

		.title {
			display: block;
			margin: -1px 0 8px;
			color: var(--color-heading);
			font-size: var(--size-h4);
			font-weight: 700;
			line-height: 1.25;
		}

		.content {
			margin: 0;
			--gap-content: 15px;
		}

		.comment_on_moderation {
			color: var(--color-muted);
		}

		.links {
			margin: 14px -10px 0 0;

			&:empty {
				display: none;
			}

		}

		.comment-reply-link, .comment-edit-link {
			display: inline-block;
			margin: 0 10px 0 0;
			color: var(--color-link);
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}

		}

	}

	.buttons {

		.outline {
			background-color: var(--color-base);
		}

	}

	.comment-respond {
		display: block;
		padding: var(--gap-card);
		margin-top: var(--gap-section-small);
		border: 1px solid var(--color-border);
		background-color: var(--color-background);

		&:first-child {
			margin-top: 0;
		}

		& + .comment {
			margin-top: 0;
			border-top-width: 0;
		}

	}

	.comment-reply-title {
		display: flex;
		align-items: baseline;
		margin-bottom: 15px;

		@include hover {
			a:hover {
				color: var(--color-link);
			}
		}

		small {
			display: block;
			margin-left: auto;
			color: var(--color-muted);
			font-size: var(--size-small);
			font-weight: 600;
			line-height: 1.333;
		}

	}

	.logout, .login {
		font-weight: bold;
	}

	.logout {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

	}

	.login {
		color: var(--color-link);
	}

	.must-log-in {

		a {
			color: var(--color-link);
			text-decoration: underline;

			@include hover {
				&:hover {
					text-decoration: none;
				}
			}

		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	.fields {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0 -10px;

		.field {
			width: 100%;
			padding: 0 10px;

			&_author, &_email {
				width: 50%;
			}

		}

	}

	.field {
		display: block;
		margin: 0 0 20px;
	}

	.label {
		@extend %label;
	}

	.checkbox {
		@extend %checkbox;
		margin: 5px 0;
	}

	.error {
		display: block;
		margin: 12px 0 -6px;
		color: var(--color-error);
		font-size: var(--size-base);
		font-weight: 500;
		line-height: 1.25;
	}

	.success {
		display: block;
		padding: 15px 20px;
		margin: 20px 0 0;
		border: 1px solid #cae1ca;
		border-radius: var(--radius-small);
		background-color: #f2fdf2;
		color: #007700;
		font-size: var(--size-base);
		font-weight: 500;
		line-height: 1.25;
		text-align: center;
	}

	.required {
		color: var(--color-error);
	}

	.rate {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		align-items: center;

		.label {
			display: block;
			width: 100%;
		}

		label {
			display: block;
			width: 24px;
			height: 21px;
			padding: 0;
			margin: 0 4px 0 0;
			background-color: var(--color-heading);
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			-webkit-mask: url(../images/ico_star.svg) 50% 50% / contain no-repeat;

			&:before, &:after {
				display: none;
			}

		}

		input {
			@extend %hidden;
		}

		input:checked + label ~ label {
			background-color: var(--color-border);
		}

	}

	@include desktop_small {

		.checkbox {
			margin: 0;
		}

	}

	@include tablet_small {

		.fields {

			.field {
				width: 100%;
			}

		}

	}

}