.comments_box {

	@extend %block;

	h2 {
		@extend h3;
		margin-bottom: 20px;
		text-transform: none;
	}

	p {
		margin: 0 0 15px;

		&:last-child {
			margin-bottom: 0;
		}

	}

	.comments, .comment {
		display: block;
		position: relative;
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}

	}

	.comment {
		margin-bottom: 30px;

		&.depth-3 .comment {
			margin-left: 0;
		}

		.comment {
			margin-top: 30px;
			margin-left: 40px;
		}

	}

	.inner {
		display: flex;
		align-items: flex-start;
	}

	.photo {
		display: block;
		flex-grow: 0;
		flex-shrink: 0;
		width: 60px;
		margin-right: 20px;

		img {
			display: block;
			width: 100%;
			height: auto;
		}

	}

	.contents {
		display: block;
		position: relative;
		overflow: hidden;
		flex-grow: 1;
		min-width: 0;
	}

	.heading {
		display: flex;
		align-items: center;
		margin-bottom: 12px;
	}

	.author {
		display: block;
		margin-right: auto;
		font-weight: 700;
	}

	.date {
		margin-left: 10px;
	}

	.content {
		margin: 0;

		p {
			margin-bottom: 15px;

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	.comment_on_moderation {
		color: #990000;
		font-style: italic;
	}

	.buttons {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-top: 15px;
	}

	.comment-respond {
		display: block;
		position: relative;
		max-width: 480px;
		margin: 0 auto;
	}

	.comment-reply-title {
		line-height: 24px;

		a {
			color: #953c21;
		}

		small {
			display: inline-block;
			float: right;
			line-height: 1;
		}

	}

	.buttons a, .comment-reply-title small a {
		display: block;
		padding: 4px 10px;
		margin-left: 10px;
		background: #777777;
		color: #ffffff;
		font-size: 12px;
		font-weight: 600;
		line-height: 16px;
		text-decoration: none;
		transition: 0.2s;
		cursor: pointer;

		&:hover {
			background: #aaaaaa;
		}

	}

	.logout, .login {
		font-weight: bold;
	}

	.logout {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}

	}

	.login {
		color: #953c21;
	}

	.fields {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		margin: 0 -10px;

		.field {
			width: 100%;
			padding: 0 10px;

			&_author, &_email {
				width: 50%;
			}

		}

	}

	.field {
		display: block;
		position: relative;
		box-sizing: border-box;
		margin: 0 0 20px;
	}

	@include desktop_small {

		.comment {
			margin-bottom: 20px;

			.comment {
				margin-top: 20px;
				margin-left: 20px;
			}

		}

	}

	@include tablet_small {

		.fields {

			.field {
				width: 100%;
			}

		}

	}

}