.modal_box {
	display: flex;
	position: fixed;
	overflow: hidden;
	align-items: center;
	justify-content: stretch;
	height: 100dvh;
	background-color: rgba(0, 0, 0, 0.75);
	transition: 0.5s;
	visibility: hidden;
	opacity: 0;
	z-index: 15;
	inset: 0;

	&.is_visible {
		visibility: visible;
		opacity: 1;

		.inner {
			transform: translateY(0);
		}

	}

	& > .inner {
		position: relative;
		overflow-x: hidden;
		overflow-y: auto;
		width: 100%;
		height: auto;
		min-height: 0;
		max-height: 100%;
		padding: 20px;
		transition: 0.5s;
		transform: translateY(-600px);
	}

	.modal {
		display: block;
		position: relative;
		width: 100%;
		max-width: var(--width-fixed-small);
		padding: var(--gap-card);
		margin: 0 auto;
		background-color: var(--color-base);
	}

	.close {
		display: block;
		position: absolute;
		top: 10px;
		right: 10px;
		width: rem(20);
		height: rem(20);
		border: none;
		outline: none;
		background: none;
		cursor: pointer;

		&:after, &:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: currentColor;
			transition: 0.2s;
			transform: translateY(-50%) rotate(45deg);
		}

		&:before {
			transform: translateY(-50%) rotate(-45deg);
		}

		@include hover {
			&:hover {
				color: var(--color-link);
			}
		}

	}

}