.pagination_box {
	margin: 30px 0 0;
	text-align: center;

	span, a {
		display: inline-flex;
		position: relative;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		min-width: 32px;
		height: 32px;
		padding: 0 2px;
		margin: 0 5px;
		border: 1px solid $color_border;
		background-color: transparent;
		color: rgba($color_main, 0.8);
		font-size: 12px;
		font-weight: 700;
		line-height: 14px;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
		transition: 0.2s;
	}

	span {
		border-color: $color_main;
		background-color: $color_main;
		color: $color_white;
	}

	a:hover {
		border-color: $color_main;
		color: $color_main;
	}

	.extend {
		border-color: transparent;
	}

	.next, .prev {
		color: transparent;

		&:hover {
			color: transparent;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 6px;
			margin-top: -3px;
			margin-left: -5px;
			background: url(../images/ico_select.svg) 50% 50% no-repeat;
			background-size: contain;
			transform: rotate(-90deg);
		}

	}

	.prev {

		&:before {
			transform: rotate(90deg);
		}

	}

}