.pagination_box {
	margin: 30px 0 0;
	text-align: center;

	span, a {
		display: inline-flex;
		position: relative;
		overflow: hidden;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		min-width: rem(32);
		height: rem(32);
		padding: 0 2px;
		margin: 0 5px;
		border: 1px solid var(--color-border);
		background-color: transparent;
		color: var(--color-muted);
		font-size: var(--size-tiny);
		font-weight: 700;
		line-height: 1.25;
		text-align: center;
		vertical-align: middle;
		text-decoration: none;
		transition: 0.2s;
	}

	span {
		border-color: var(--color-primary);
		background-color: var(--color-primary);
		color: var(--color-primary-alt);
	}

	@include hover {
		a:hover {
			border-color: var(--color-primary);
			background-color: var(--color-primary-alt);
			color: var(--color-primary);
		}
	}

	.extend {
		border-color: transparent;
	}

	.next, .prev {
		color: transparent;

		&:hover {
			color: transparent;
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 6px;
			margin-top: -3px;
			margin-left: -5px;
			background: url(../images/ico_select.svg) 50% 50% no-repeat;
			background-size: contain;
			transform: rotate(-90deg);
		}

	}

	.prev {

		&:before {
			transform: rotate(90deg);
		}

	}

}