.wrapper_box {
	display: block;
	position: relative;

	& > .fixed {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: stretch;
	}

	main.main {
		display: block;
		position: relative;
		flex-grow: 1;
		order: 1;
		min-width: 0;
	}

	aside.sidebar {
		display: block;
		flex-grow: 0;
		flex-shrink: 0;
		order: 2;
		width: 270px;
		margin-left: 30px;
	}

	@include desktop_small {

		& > .fixed {
			flex-direction: column;
		}

		main.main {
			order: 1;
			width: 100%;
		}

		aside.sidebar {
			order: 2;
			width: 100%;
			max-width: 320px;
			margin: 0 auto;
		}

	}

}