@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section, video {
	display: block;
}

:focus {
	outline: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: #333333;
	min-width: 320px;
}

ol, ul {
	list-style-position: inside;
}

a {
	color: #333333;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:hover img {
	opacity: 0.8;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="submit"], textarea {
	display: inline-block;
	box-sizing: border-box;
	padding: 12px 20px;
	font-size: 16px;
	font-family: Arial, sans-serif;
	line-height: 1.4;
	border-radius: 5px;
	background: #ffffff;
	border: none;
}

textarea {
	overflow: auto;
	height: 200px;
	width: 100%;
}

input[type="submit"] {
	background-color: #333333;
	color: #ffffff;
	transition: 0.2s;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 20px;
}

input[type="submit"]:hover {
	background-color: #666666;
}

#site {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.container_box {
	display: block;
	position: relative;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 0;
}

.wrapper_box {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
}

@media (max-width: 768px) {
	.wrapper_box {
		flex-wrap: wrap;
		justify-content: center;
	}
	.wrapper_box .main_box {
		width: 100%;
		order: 1;
	}
}

.main_box {
	display: block;
	position: relative;
	order: 2;
	flex-grow: 1;
	flex-basis: 100%;
}

.sidebar_box {
	display: block;
	flex-shrink: 0;
	width: 272px;
	margin-right: 30px;
	order: 1;
}

@media (max-width: 1024px) {
	.sidebar_box {
		width: 240px;
		margin-right: 20px;
	}
}

@media (max-width: 768px) {
	.sidebar_box {
		margin-right: 0;
		width: 100%;
		max-width: 400px;
		order: 2;
	}
}

.footer_box {
	display: block;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	z-index: 1;
}

.fixed {
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
}

/* Стили для оформления комментариев */
.comments, .comment, .comment_avatar, .comment_inner, .comment_info, .comment_body {
	display: block;
	position: relative;
	overflow: hidden;
}

.comments {
	margin-bottom: 30px;
}

.comments h3 {
	display: block;
	margin-bottom: 12px;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	color: #333333;
}

.comments .pagination {
	margin-top: 30px;
}

.comment .comment_inner {
	padding: 15px;
	border-radius: 10px;
	background: #f5f5f5;
}

.comment + .comment, .comment .comment {
	margin-top: 20px;
}

.comment .comment {
	margin-left: 35px;
}

.comment.depth-3 .comment {
	margin-left: 0;
}

.comment .comment_avatar {
	float: left;
	width: 60px;
	height: 60px;
}

.comment .comment_avatar img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.comment .comment_avatar + .comment_body {
	margin-left: 75px;
}

.comment .comment_info {
	margin-bottom: 4px;
}

.comment .comment_author {
	display: block;
	float: left;
	font-weight: bold;
	font-size: 15px;
}

.comment .comment_date {
	display: block;
	float: right;
	font-size: 14px;
	color: #666666;
}

.comment .comment_body {
	font-style: normal;
}

.comment .comment_body p {
	margin-bottom: 12px;
}

.comment .comment_on_moderation {
	font-style: italic;
	color: #990000;
}

.comment .comment_buttons {
	margin-top: 12px;
	text-align: right;
	font-size: 13px;
	line-height: 130%;
	color: #990000;
}

.comment .comment_buttons a {
	display: inline-block;
	padding: 3px 10px;
	border-radius: 5px;
	background: #aaaaaa;
	color: #ffffff;
	text-decoration: none;
}

.comment .comment_buttons a:hover {
	background: #cccccc;
}

.comment .comment_buttons a + a {
	margin-left: 5px;
}

/* Стили для оформления формы комментариев */
.comment-reply-title {
	display: block;
	margin-bottom: 12px;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	color: #333333;
}

.comment-reply-title a {
	color: #953c21;
}

.comment-reply-title small, .comment-reply-title small a {
	font-size: 16px;
	color: #555555;
	text-decoration: none;
	text-transform: lowercase;
}

.comment-reply-title small a:hover {
	text-decoration: underline;
}

.comment-respond {
	width: auto;
	max-width: 600px;
	margin: 30px auto;
}

.comment-respond input[type="text"], .comment-respond textarea {
	display: block;
	box-sizing: border-box;
	width: auto;
	max-width: 200px;
	height: auto;
	padding: 5px 10px;
	margin: 0 0 15px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
}

.comment-respond textarea {
	overflow: auto;
	max-width: 100%;
	height: 160px;
}

.comment-respond input[type="submit"] {
	display: inline-block;
	padding: 5px 15px;
	border: 0;
	border-radius: 5px;
	background: #aaaaaa;
	text-align: center;
	font-size: 15px;
	line-height: 130%;
	color: #ffffff;
	cursor: pointer;
}

.comment-respond input[type="submit"]:hover {
	background: #cccccc;
}

.comment-respond p {
	margin-bottom: 15px;
}

.comment-respond p.form-submit {
	overflow: hidden;
	width: 100%;
}

.comment-respond .logout, .comment-respond .login {
	font-weight: bold;
}

.comment-respond .logout {
	text-decoration: none;
}

.comment-respond .logout:hover {
	text-decoration: underline;
}

.comment-respond .login {
	color: #953c21;
}

h1 {
	display: block;
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 25px;
}

@media (max-width: 1024px) {
	h1 {
		font-size: 28px;
	}
}

@media (max-width: 640px) {
	h1 {
		font-size: 24px;
	}
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	margin-bottom: 25px;
	font-weight: bold;
	line-height: 1.2;
}

.content h2 {
	font-size: 30px;
}

.content h3 {
	font-size: 24px;
}

.content h4 {
	font-size: 20px;
}

.content h5 {
	font-size: 17px;
}

.content h6 {
	font-size: 16px;
}

.content p, .content > table, .content > ul, .content > ol, .content .table_wrapper {
	margin-bottom: 25px;
}

.content .table_wrapper {
	overflow: auto;
}

.content ul, .content ol {
	display: block;
	position: relative;
}

.content ul ul, .content ul ol, .content ol ul, .content ol ol {
	display: block;
	padding-top: 11px;
	margin-left: 0;
}

.content li {
	display: block;
	position: relative;
	padding-left: 20px;
	margin-bottom: 10px;
}

.content li:last-child {
	margin-bottom: 0;
}

.content ul > li:before {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	position: absolute;
	left: 0;
	top: 9px;
	background-color: #ecc571;
	border-radius: 50%;
}

.content ol {
	counter-reset: list;
}

.content ol > li {
	counter-increment: list;
}

.content ol > li:before {
	content: counter(list) ".";
	display: block;
	text-align: center;
	position: absolute;
	left: 0;
	top: 1px;
}

.content table, .content img {
	height: auto;
	width: auto;
	max-width: 100%;
}

.content table {
	border-spacing: 0;
	border-collapse: collapse;
}

.content td, .content th {
	padding: 5px 10px;
	border: 1px solid gainsboro;
}

.content > :last-child {
	margin-bottom: 0;
}

@media (max-width: 1024px) {
	.content h2 {
		font-size: 24px;
	}
	.content h3 {
		font-size: 20px;
	}
	.content h4 {
		font-size: 18px;
	}
	.content h5 {
		font-size: 17px;
	}
	.content h6 {
		font-size: 15px;
	}
	.content p, .content > table, .content > ul, .content > ol, .content .table_wrapper {
		margin-bottom: 20px;
	}
}

@media (max-width: 768px) {
	.content .table_wrapper {
		display: block;
		overflow-x: auto;
		overflow-y: hidden;
	}
}

.content .alignleft {
	float: left;
	margin: 0 25px 25px 0;
}

.content .alignright {
	float: right;
	margin: 0 0 25px 25px;
}

.content .alignnone {
	margin: 0 0 25px;
}

.content .aligncenter {
	display: block;
	margin: 0 auto 25px;
}

@media (max-width: 768px) {
	.content .alignright, .content .alignleft {
		float: none;
		display: block;
		margin: 0 auto 25px;
		text-align: center;
	}
}

.content blockquote {
	display: block;
	overflow: hidden;
	padding: 21px 25px;
	margin-bottom: 25px;
	background: #f5f5f5;
}

.content blockquote :last-child {
	margin-bottom: 0;
}

.content .wp-caption-text {
	display: block;
	text-align: center;
	margin: 0;
}

.content .wp-caption {
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 25px;
	background: #f5f5f5;
}

.content .wp-caption .wp-caption-text {
	padding: 10px 10px 0;
}

.content .wp-caption a, .content .wp-caption img {
	display: block;
	position: relative;
	margin: 0;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	overflow: hidden;
	margin: 0 -5px 10px;
}

.gallery .gallery-item {
	display: inline-block;
	width: 33.33%;
	padding: 0 5px;
	margin: 0 0 10px;
	vertical-align: top;
	box-sizing: border-box;
}

.gallery .gallery-icon {
	display: block;
	padding: 10px;
	margin: 0;
	background: #f5f5f5;
}

.gallery .gallery-icon a, .gallery .gallery-icon img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.gallery .gallery-caption {
	display: block;
	padding: 0 10px 10px;
	background: #f5f5f5;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11%;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

@media (max-width: 768px) {
	.gallery-columns-2 .gallery-item {
		width: 100%;
	}
	.gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item {
		width: 50%;
	}
	.gallery-columns-6 .gallery-item, .gallery-columns-7 .gallery-item {
		width: 33.33%;
	}
	.gallery-columns-8 .gallery-item, .gallery-columns-9 .gallery-item {
		width: 25%;
	}
}

@media (max-width: 480px) {
	.gallery-columns-3 .gallery-item, .gallery-columns-4 .gallery-item, .gallery-columns-5 .gallery-item {
		width: 100%;
	}
	.gallery-columns-6 .gallery-item, .gallery-columns-7 .gallery-item {
		width: 50%;
	}
	.gallery-columns-8 .gallery-item, .gallery-columns-9 .gallery-item {
		width: 33.33%;
	}
}

.modal_box {
	display: flex;
	visibility: hidden;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.8);
	transition: 0.5s;
	padding: 20px;
	opacity: 0;
	z-index: 10;
}

.modal_box.is_visible {
	visibility: visible;
	opacity: 1;
}

.modal_box.is_visible .modal {
	top: 0;
}

.modal_box .modal {
	display: block;
	position: relative;
	top: -600px;
	overflow: hidden;
	width: 100%;
	max-width: 500px;
	margin: auto;
	padding: 40px;
	background-color: #ffffff;
	text-align: center;
	transition: 0.5s;
}

.modal_box .close {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	outline: none;
	width: 18px;
	height: 18px;
	cursor: pointer;
}

.modal_box .close:after, .modal_box .close:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%) rotate(45deg);
	display: block;
	width: 100%;
	height: 1px;
	background-color: #000000;
	transition: 0.2s;
}

.modal_box .close:before {
	transform: translateY(-50%) rotate(-45deg);
}

.modal_box .close:hover:before, .modal_box .close:hover:after {
	background-color: #009900;
}

@media (max-width: 1024px) {
	.modal_box .modal {
		padding: 20px;
	}
}

@media (max-width: 420px) {
	.modal_box {
		padding: 10px;
	}
	.modal_box .modal {
		padding: 10px;
	}
}

/* Стили для пагинации */
.pagination {
	display: block;
	position: relative;
	text-align: center;
}

.pagination span, .pagination a {
	display: inline-block;
	margin: 0 2px;
	padding: 2px 7px;
	text-decoration: none;
	vertical-align: middle;
}

.pagination span {
	background-color: #f5f5f5;
	color: #333333;
}

.pagination a:hover {
	color: #0d7b0d;
}

.pagination .extend {
	background: transparent;
}

.pagination span.next, .pagination span.prev {
	background: transparent;
	color: #0d7b0d;
}

/*# sourceMappingURL=style.css.map */
