// Styles for the default WYSIWYG editor

h1 {
	display: block;
	font-size: 36px;
	font-weight: normal;
	margin-bottom: $content_margin;

	@include desktop_small {
		font-size: 28px;
	}

	@include tablet_small {
		font-size: 24px;
	}

}

.content {

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: $content_margin;
		font-weight: bold;
		line-height: 1.2;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 17px;
	}

	h6 {
		font-size: 16px;
	}

	p, & > table, & > ul, & > ol, .table_wrapper {
		margin-bottom: $content_margin;
	}

	.table_wrapper {
		overflow: auto;
	}

	ul, ol {
		display: block;
		position: relative;

		ul, ol {
			display: block;
			padding-top: 11px;
			margin-left: 0;
		}

	}

	li {
		display: block;
		position: relative;
		padding-left: 20px;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}

	}

	ul {

		& > li {

			&:before {
				content: '';
				display: block;
				width: 6px;
				height: 6px;
				position: absolute;
				left: 0;
				top: 9px;
				background-color: #ecc571;
				border-radius: 50%;
			}

		}

	}

	ol {
		counter-reset: list;

		& > li {
			counter-increment: list;

			&:before {
				content: counter(list) '.';
				display: block;
				text-align: center;
				position: absolute;
				left: 0;
				top: 1px;
			}

		}

	}

	table, img {
		height: auto;
		width: auto;
		max-width: 100%;
	}

	table {
		border-spacing: 0;
		border-collapse: collapse;
	}

	td, th {
		padding: 5px 10px;
		border: 1px solid darken($color_background, 10%);
	}

	> :last-child {
		margin-bottom: 0;
	}

	@include desktop_small {

		h2 {
			font-size: 24px;
		}

		h3 {
			font-size: 20px;
		}

		h4 {
			font-size: 18px;
		}

		h5 {
			font-size: 17px;
		}

		h6 {
			font-size: 15px;
		}

		p, & > table, & > ul, & > ol, .table_wrapper {
			margin-bottom: ($content_margin - 5px);
		}

	}

	@include tablet_large {

		.table_wrapper {
			display: block;
			overflow-x: auto;
			overflow-y: hidden;
		}

	}

}

// Styles for default alignment classes

.content {

	.alignleft {
		float: left;
		margin: 0 $content_margin $content_margin 0;
	}

	.alignright {
		float: right;
		margin: 0 0 $content_margin $content_margin;
	}

	.alignnone {
		margin: 0 0 $content_margin;
	}

	.aligncenter {
		display: block;
		margin: 0 auto $content_margin;
	}

	
	@include tablet_large {

		.alignright, .alignleft {
			float: none;
			display: block;
			margin: 0 auto $content_margin;
			text-align: center;
		}

	}

}

// Styles for blockquotes

.content {

	blockquote {
		display: block;
		overflow: hidden;
		padding: ($content_margin - 4px) $content_margin;
		margin-bottom: $content_margin;
		background: $color_background;

		:last-child {
			margin-bottom: 0;
		}

	}

}

// Styles for images with caption

.content {

	.wp-caption-text {
		display: block;
		text-align: center;
		margin: 0;
	}

	.wp-caption {
		display: block;
		overflow: hidden;
		box-sizing: border-box;
		padding: 10px;
		margin-bottom: $content_margin;
		background: $color_background;

		.wp-caption-text {
			padding: 10px 10px 0;
		}

		a, img {
			display: block;
			position: relative;
			margin: 0;
		}

	}

}

// Styles for the default gallery shortcode

.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	overflow: hidden;
	margin: 0 -5px 10px;

	.gallery-item {
		display: inline-block;
		width: 33.33%;
		padding: 0 5px;
		margin: 0 0 10px;
		vertical-align: top;
		box-sizing: border-box;
	}

	.gallery-icon {
		display: block;
		padding: 10px;
		margin: 0;
		background: $color_background;

		a, img {
			display: block;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 0;
		}

	}

	.gallery-caption {
		display: block;
		padding: 0 10px 10px;
		background: $color_background;
	}

	&-columns-1 .gallery-item {
		width: 100%;
	}

	&-columns-2 .gallery-item {
		width: 50%;
	}

	&-columns-4 .gallery-item {
		width: 25%;
	}

	&-columns-5 .gallery-item {
		width: 20%;
	}

	&-columns-6 .gallery-item {
		width: 16.66%;
	}

	&-columns-7 .gallery-item {
		width: 14.28%;
	}

	&-columns-8 .gallery-item {
		width: 12.5%;
	}

	&-columns-9 .gallery-item {
		width: 11.11%;
	}

	&-columns-6 .gallery-caption,
	&-columns-7 .gallery-caption,
	&-columns-8 .gallery-caption,
	&-columns-9 .gallery-caption {
		display: none;
	}

	@include tablet_large() {

		&-columns-2 .gallery-item {
			width: 100%;
		}

		&-columns-4 .gallery-item, &-columns-5 .gallery-item {
			width: 50%;
		}

		&-columns-6 .gallery-item, &-columns-7 .gallery-item {
			width: 33.33%;
		}

		&-columns-8 .gallery-item, &-columns-9 .gallery-item {
			width: 25%;
		}

	}

	@include phone_large() {

		&-columns-3 .gallery-item, &-columns-4 .gallery-item, &-columns-5 .gallery-item {
			width: 100%;
		}

		&-columns-6 .gallery-item, &-columns-7 .gallery-item {
			width: 50%;
		}

		&-columns-8 .gallery-item, &-columns-9 .gallery-item {
			width: 33.33%;
		}

	}

}