@import '../elements/buttons';
@import '../elements/carousel';
@import '../elements/contents';
@import '../elements/content';
@import '../elements/hidden';
@import '../elements/items';
@import '../elements/play';

.button {

	@extend %button;

	&.outline {
		@extend %button_outline;
	}

	&:disabled {
		@extend %button_disabled;
	}

	&.is_hidden {
		display: none;
	}

	&.is_loading, &.is_loading:hover {
		border-color: var(--color-border);
		background-color: transparent;
		background-image: url(../images/ico_loading.svg);
		color: transparent;
	}

}

.buttons {
	@extend %buttons;

	h1 + &, h2 + &, h3 + & {
		padding-top: 5px;
	}

	.items + &, .contents + & {
		text-align: center;
	}

	.items + &:has(.button:not(.is_hidden)) {
		margin-top: var(--gap-contents);
	}

}

.contents {
	@extend %contents;
}

.content {
	@extend %content;
}

.items {
	@extend %items;

	.item {
		@extend %item;
	}

	@include media_min($tablet_large) {

		&_1, &_2 {
			--width-item: 100%;
		}

	}

	@include media_min($desktop_small) {

		&_1 {
			--width-item: 100%;
		}

		&_2 {
			--width-item: 50%;
		}

		&_3 {
			--width-item: 33.33333%;
		}

		&_4, &_5, &_6 {
			--width-item: 25%;
		}

	}

	@include media_min($desktop_large) {

		&_5 {
			--width-item: 20%;
		}

		&_6 {
			--width-item: 16.66666%;
		}

	}

}

.carousel {
	@extend %carousel;
}

.screen-reader-text, .sr-hidden {
	@extend %hidden;
}

.skip-link {
	position: fixed;
	top: var(--height-bar);
	left: 0;
	width: auto;
	padding: 5px 15px;
	border-radius: 0;
	background: var(--color-primary);
	color: var(--color-primary-alt);
	font-size: rem(16);
	font-weight: 500;
	line-height: rem(20);
	transform: translateX(-100%);
	opacity: 0;
	z-index: 25;

	&:focus {
		transform: translateX(0%);
		opacity: 1;
	}

}