@import '../elements/buttons';
@import '../elements/carousel';
@import '../elements/content';
@import '../elements/hidden';
@import '../elements/items';
@import '../elements/play';

.content {
	@extend %content;
}

.button {

	@extend %button;

	&.outline {
		@extend %button_outline;
	}

	&:disabled {
		@extend %button_disabled;
	}

	&.is_hidden {
		display: none;
	}

	&.is_loading, &.is_loading:hover {
		border-color: var(--color-border);
		background-color: transparent;
		background-image: url(../images/ico_loading.svg);
		color: transparent;
	}

}

.buttons {
	@extend %buttons;

	.items + & {
		text-align: center;

		.button {
			margin-top: var(--gap-contents);
		}

	}

}

.contents {
	@extend %contents;
}

.content {
	@extend %content;
}

.items {
	@extend %items;

	.item {
		@extend %item;
	}

}

.carousel {
	@extend %carousel;
}

.screen-reader-text {
	@extend %hidden;
}

.skip-link {
	position: fixed;
	top: var(--height-bar);
	left: 0;
	width: auto;
	padding: 5px 15px;
	border-radius: 0;
	background: var(--color-primary);
	color: var(--color-base);
	font-size: rem(16);
	font-weight: 500;
	line-height: rem(20);
	transform: translateX(-100%);
	opacity: 0;
	z-index: 25;

	&:focus {
		transform: translateX(0%);
		opacity: 1;
	}

}