input, select, textarea {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: calc(0.5 * var(--height-control) - 12px) 18px;
	margin: 0;
	border: 1px solid var(--color-field);
	border-radius: var(--radius-small);
	background: var(--color-base);
	color: var(--color-text);
	font-family: var(--font-main);
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	transition: 0.2s;
	z-index: 2;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	&:focus, &:active {
		border-color: var(--color-primary);
		outline: none;
	}

}

textarea {
	overflow: auto;
	height: 120px;
	resize: vertical;
}

select::-ms-expand {
	display: none;
}

select {
	padding-right: 30px;
	background: var(--color-base) url(../images/ico_select.svg) right 12px top 50% no-repeat;

	&::-ms-expand {
		display: none;
	}

}

input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	position: relative;
	top: 0;
	flex-grow: 0;
	flex-shrink: 0;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0 5px 0 0;
	border: 1px solid var(--color-field);
	border-radius: var(--radius-small);
	background: var(--color-base) 55% 50% no-repeat;
	vertical-align: middle;
	visibility: visible;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&:checked {
		border-color: var(--color-primary);
		background-color: var(--color-primary);
		background-image: url(../images/ico_check.svg);
	}

}

input[type="radio"] {
	border-radius: 50%;

	&:checked {
		background-image: none;
		box-shadow: 0 0 0 5px var(--color-base) inset;
	}

}

%checkbox {
	display: flex;
	align-items: flex-start;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;

	input {
		margin-right: 10px;
	}

}

%label {
	display: block;
	margin: 0 0 8px;
	font-family: var(--font-main);
	font-size: 12px;
	font-weight: 600;
	line-height: 14px;
	letter-spacing: 0.075em;
	text-transform: uppercase;
}