input, select, textarea {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: calc(0.5 * var(--height-field) - 0.5 * var(--line-field) - 1px) var(--gap-field);
	margin: 0;
	border: 1px solid var(--field-border);
	border-radius: var(--radius-small);
	background: var(--field-base);
	color: var(--field-text);
	font-family: var(--font-main);
	font-size: var(--size-field);
	font-weight: 400;
	line-height: var(--line-field);
	transition: 0.2s;
	z-index: 2;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	@include placeholder {
		color: var(--color-muted);
	}

	&:focus, &:active {
		border-color: var(--field-border-active);
		outline: none;
		background-color: var(--field-base-active);
		color: var(--field-text-active);
	}

	&:disabled {
		border-color: var(--field-border-disabled);
		outline: none;
		background-color: var(--field-base-disabled);
		color: var(--field-text-disabled);
	}

}

textarea {
	overflow: auto;
	height: 120px;
	resize: vertical;
}

select {
	padding-right: 30px;
	background: var(--field-base) url(../images/ico_select.svg) right calc(0.5 * var(--line-field) - 1px) top 50% no-repeat;

	&::-ms-expand {
		display: none;
	}

}

input[type="checkbox"], input[type="radio"] {
	display: inline-block;
	position: relative;
	top: 0;
	flex-grow: 0;
	flex-shrink: 0;
	width: rem(20);
	height: rem(20);
	padding: 0;
	margin: 0 rem(6) 0 0;
	border: 1px solid var(--field-border);
	border-radius: var(--radius-small);
	background: var(--field-base) 55% 50% no-repeat;
	vertical-align: middle;
	visibility: visible;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	&:focus, &:active {
		border-color: var(--field-border-active);
	}

	&:checked {
		border-color: var(--field-border-active);
		background-color: var(--field-border-active);
		background-image: url(../images/ico_check.svg);
		color: var(--field-text-active);
	}

}

input[type="radio"] {
	border-radius: 50%;

	&:checked {
		background-image: none;
		box-shadow: 0 0 0 5px var(--field-base) inset;
	}

}