input[type="text"], input[type="email"], input[type="search"], input[type="password"], input[type="tel"], input[type="number"], select, textarea {
	display: block;
	position: relative;
	box-sizing: border-box;
	width: 100%;
	padding: 10px 15px;
	border: 1px solid $color_border;
	border-radius: $radius_regular;
	background: $color_white;
	font-family: $font_main;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.25;
	transition: 0.2s;
	z-index: 2;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	&:focus {
		border-color: $color_accent;
		outline: none;
	}

}

textarea {
	overflow: auto;
	height: 200px;
	resize: vertical;
}

select::-ms-expand {
	display: none;
}

select {
	padding-right: 30px;
	background: $color_white url(../images/ico_select.svg) right 12px top 50% no-repeat;

	&::-ms-expand {
		display: none;
	}

}

input[type="checkbox"], input[type="radio"] {
	display: block;
	position: absolute;
	left: -1000px;
	visibility: hidden;

	& + span, & + label {
		display: block;
		position: relative;
		padding-left: 30px;
		color: $color_main;
		font-size: 16px;
		line-height: 20px;
		cursor: pointer;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			box-sizing: border-box;
			width: 20px;
			height: 20px;
			border: 1px solid $color_border;
			border-radius: $radius_regular;
			background-color: $color_white;
		}

	}

	&:checked + span, &:checked + label {

		&:before {
			border-color: $color_main;
			background: $color_main url(../images/ico_check.svg) 60% 50% no-repeat;
		}

	}

	@include desktop_small {

		& + span, & + label {
			font-size: 14px;
		}

	}

}

input[type="radio"] {

	& + span, & + label {

		&:before, &:after {
			border-radius: 50%;
			background: none;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 6px;
			left: 6px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background-color: $color_main;
			opacity: 0;
			z-index: 2;
		}

	}

	&:checked + span, &:checked + label {

		&:before {
			background: $color_white;
		}

		&:after {
			opacity: 1;
		}

	}

}