html {
	scroll-behavior: smooth;
	--wp-admin--admin-bar--height: 0px !important;
}

body {

	&.is_locked {
		overflow: hidden;
		padding-right: var(--width-scrollbar);
		touch-action: none;
	}

}

.admin-bar {
	--height-bar: 32px;

	@include media_max(782) {
		--height-bar: 46px;
	}

	@include media_max(600) {
		--height-bar: 0px;

		#wpadminbar {
			display: none;
		}

	}

}

#site {
	display: flex;
	position: relative;
	flex-direction: column;
	min-height: 100dvh;
	padding-top: var(--height-bar);

	& > main {
		display: flex;
		position: relative;
		flex-direction: column;
		flex-grow: 1;
		flex-shrink: 0;
		align-items: stretch;
		width: 100%;
	}

}

.fixed {
	position: relative;
	width: 100%;
	max-width: var(--width-fixed);
	margin: 0 auto;

	.fixed {
		padding: 0;
	}

}

.tw {
	--gap-section: 40px;
	--gap-section-side: 20px;

	& > section:first-child:not(.box_no_top) {
		--gap-section-top: var(--gap-section);
	}

	& > section:last-child:not(.box_no_bottom) {
		--gap-section-bottom: var(--gap-section);
	}

	iframe {
		max-height: 1000px;
	}

}

section {
	position: relative;
	padding: calc(var(--gap-section-top) + var(--offset-section)) var(--gap-section-side) var(--gap-section-bottom);
	background-color: var(--color-section);
	color: var(--color-text);
	scroll-margin-top: calc(var(--offset-scroll) + var(--gap-section) - var(--gap-section-top));
	--gap-section-bottom: var(--gap-section);

	&:first-of-type {
		--gap-section-top: var(--gap-section);
	}

	section {
		padding-right: 0;
		padding-left: 0;
	}

}

.box {

	&_light, &_dark {

		& + section {
			--gap-section-top: var(--gap-section);
		}

		& + .box_top_half {
			--gap-section-top: calc(0.5 * var(--gap-section));
		}

		& + .box_no_top {
			--gap-section-top: 0px;
		}

	}

	&_light {
		--gap-section-top: var(--gap-section);
		--color-section: var(--theme-background);
		--color-background: var(--theme-base);
	}

	&_dark {
		color: $color_white;
		--gap-section-top: var(--gap-section);
		--color-base: #{$color_black};
		--color-section: #{$color_heading};
		--color-background: #{$color_text};
		--color-text: #{rgba($color_white, 0.9)};
		--color-muted: #{rgba($color_white, 0.8)};
		--color-heading: #{$color_white};
		--color-border: #{rgba($color_white, 0.1)};
		--color-field: #{rgba($color_white, 0.2)};
		--color-shadow: 0, 0, 0;
		--color-icon: #{$color_white};
		--color-link: #{$color_primary};
	}

	&_top {
		--gap-section-top: var(--gap-section);
	}

	&_top_half {
		--gap-section-top: calc(0.5 * var(--gap-section));
	}

	&_bottom {
		--gap-section-bottom: var(--gap-section);
	}

	&_bottom_half {
		--gap-section-bottom: calc(0.5 * var(--gap-section));
	}

	&_no_top {
		--gap-section-top: 0px;
	}

	&_no_bottom {
		--gap-section-bottom: 0px;
	}

	&_border {
		border-bottom: 1px solid var(--color-border);

		& + section {
			--gap-section-top: var(--gap-section);
		}

	}

}