body {

	&.is_locked {
		overflow: hidden;
		padding-right: var(--width-scrollbar);
		touch-action: none;
	}

}

#site {
	display: flex;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	min-height: 100vh;
	padding-top: var(--height-bar);
}

.main_box {
	display: flex;
	position: relative;
	overflow: hidden;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 0;
	align-items: stretch;
	width: 100%;
}

.fixed {
	position: relative;
	width: 100%;
	max-width: var(--width-regular);
	margin: 0 auto;

	.fixed {
		padding: 0;
	}

}

.items {

	& + .buttons {
		text-align: center;

		.button {
			margin-top: var(--gap-contents);
		}

	}

}

section {
	position: relative;
	padding: calc(var(--gap-section-top) + var(--gap-section-shift)) var(--gap-aside) var(--gap-section-bottom);
	background-color: var(--color-section);
	color: var(--color-text);
	--gap-section-top: 0px;

	&:first-of-type {
		--gap-section-top: var(--gap-subsection);
	}

	&.box_light:first-of-type, &.box_dark:first-of-type {
		--gap-section-top: var(--gap-section);
	}

}

.box {

	&_light, &_dark {

		& + section {
			--gap-section-top: var(--gap-section);
		}

		& + .box_no_top, & + .box_no_both {
			--gap-section-top: 0px;
		}

	}

	&_light {
		--gap-section-top: var(--gap-section);
		--color-section: #{$color_background};
		--color-background: #{$color_white};
	}

	&_dark {
		color: #{$color_white};
		--gap-section-top: var(--gap-section);
		--color-section: #{$color_text};
		--color-background: #{$color_muted};
		--color-muted: #{rgba($color_white, 0.8)};
		--color-text: #{rgba($color_white, 0.9)};
		--color-field: #{rgba($color_white, 0.5)};
		--color-heading: #{$color_white};
		--color-border: #{rgba($color_white, 0.2)};
		--color-link: #{$color_white};
		--color-base: #{$color_heading};
	}

	&_no_top {
		--gap-section-top: 0px;
	}

	&_no_bottom {
		--gap-section-bottom: 0px;
	}

	&_no_both {
		--gap-section-top: 0px;
		--gap-section-bottom: 0px;
	}

	&_border {

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			width: var(--width-regular);
			height: 1px;
			margin-left: calc(-0.5 * var(--width-regular));
			background-color: var(--color-border);
		}

		& + section {
			--gap-section-top: var(--gap-section);
		}

	}

}

%items {
	display: flex;
	position: relative;
	flex-wrap: wrap;
	width: calc(100% + var(--gap-grid));
	margin: 0 calc(-1 * var(--gap-grid)) calc(-1 * var(--gap-vertical)) 0;
	z-index: 2;
}

%item {
	display: inline-flex;
	position: relative;
	flex-direction: column;
	flex-grow: 0;
	flex-shrink: 0;
	width: calc(var(--width-item) - var(--gap-grid));
	margin: 0 var(--gap-grid) var(--gap-vertical) 0;
	overscroll-behavior: contain;
}

.admin-bar {
	--height-bar: 32px;

	@include media_max(782px) {
		--height-bar: 46px;
	}

	@include media_max(600px) {
		--height-bar: 0px;

		#wpadminbar {
			display: none;
		}

	}

}