html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	min-width: 320px;
	background-color: var(--color-base);
	color: var(--color-text);
	font-family: var(--font-main);
	font-size: var(--size-base);
	font-weight: 400;
	line-height: 1.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

sup {
	font-size: 0.75em;
	vertical-align: super;
	text-decoration: none;
}

sub {
	font-size: 0.75em;
	vertical-align: sub;
	text-decoration: none;
}

b, strong {
	font-weight: 700;
}

i, em {
	font-style: italic;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	position: relative;
	margin: 0 0 var(--gap-heading);
	color: var(--color-heading);
	font-family: var(--font-heading);
	font-weight: 700;
	line-height: 1.25;

	&:last-child {
		margin-bottom: 0;
	}

}

h1 {
	font-size: var(--size-h1);
	line-height: 1.2;
}

h2 {
	font-size: var(--size-h2);
}

h3 {
	font-size: var(--size-h3);
}

h4 {
	font-size: var(--size-h4);
}

h5 {
	font-size: var(--size-h5);
}

h6 {
	font-size: var(--size-h6);
}

p {
	margin: 0 0 var(--gap-content);
}

a {
	color: currentColor;
	text-decoration: none;
	transition: color 0.2s;

	img {
		transition: opacity 0.2s;
	}

	@include hover {

		&:hover {
			text-decoration: none;

			img {
				opacity: 0.9;
			}

		}

	}

}

button {
	padding: 0;
	border: none;
	background: none;
	color: currentColor;
	font-family: var(--font-main);
	transition: 0.2s;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}