.wp {

	&-block-embed,
	&-embed-video,
	&-video {
		display: block;
		position: relative;
		width: 100%;
		margin: calc(var(--gap-content) + 5px) auto;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	&-block-embed.wp-has-aspect-ratio {

		&:before {
			content: '';
			display: block;
			position: relative;
			width: 100%;
			padding-bottom: 56.25%;
		}

		.wp-block-embed__wrapper {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		iframe {
			display: block;
			width: 100%;
			height: 100%;
		}

	}

	&-embed-video,
	&-video-shortcode,
	&-has-aspect-ratio {

		&:before {
			content: '';
			display: block;
			position: relative;
			width: 0;
			padding-bottom: 56.25%;
		}

		iframe {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	}

	&-caption {
		display: block;
		overflow: hidden;
		padding: 10px;
		margin-bottom: var(--gap-content);
		background: var(--color-background);

		&-text {
			display: block;
			margin: 0;
			text-align: center;
		}

		.wp-caption-text {
			padding: 10px 10px 0;
		}

		a, img {
			display: block;
			margin: 0;
		}

	}

}