@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
	display: block;
}

:focus {
	outline: 0;
}

html, body {
	height: 100%;
}

body {
	min-width: 1100px;
	font-size: 14px;
	font-family: 'Arial', 'Helvetica', sans-serif;
	line-height: 1.3;
	color: #333333;
}

ol, ul {
	list-style-position: inside;
}

a {
	color: #333333;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a:hover img {
	opacity: 0.8;
}

#site {
	display: table;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background: #ffffff;
	table-layout: fixed;
}

#footer {
	display: table-row;
	height: 1px;
}

.fixed {
	position: relative;
	width: 1080px;
	margin: 0 auto;
}

/* Стили для оформления списка записей */
.post {
	overflow: hidden;
	margin-bottom: 40px;
}

.post .thumb {
	display: block;
	float: left;
	width: 240px;
}

.post .thumb img {
	width: 100%;
	height: auto;
}

.post .thumb + .body {
	margin-left: 260px;
}

.post .body {
	font-size: 13px;
	line-height: 150%;
}

.post .title {
	display: block;
	margin-bottom: 17px;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.3;
	color: #444444;
	text-decoration: none;
	text-transform: none;
}

.post .title:hover {
	color: #777777;
}

/* Стили для пагинации */
.pagination {
	margin: 20px 0 50px 0;
	text-align: center;
}

.pagination span, .pagination a {
	display: inline-block;
	padding: 2px 7px;
	margin: 0 2px;
	vertical-align: middle;
	text-decoration: none;
}

.pagination span {
	background-color: #6cad37;
	color: #ffffff;
}

.pagination a:hover {
	color: #0d7b0d;
}

.pagination .extend {
	background: transparent;
}

.pagination span.next, .pagination span.prev {
	background: transparent;
	color: #0d7b0d;
}

/* Стили для модальных окон с формой */
#modal {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: #000000;
	opacity: 0.5;
}

.modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 200;
	width: 400px;
	padding: 15px 15px 2px;
	margin-top: -240px;
	margin-left: -215px;
	background: #ffffff;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	font-size: 14px;
	line-height: 130%;
}

.modal input[type="text"], .modal input[type="tel"], .modal input[type="email"], .modal textarea {
	display: block;
	width: 200px;
	padding: 5px 10px;
	border: 1px solid #cccccc;
	background: transparent;
	font-size: 14px;
	line-height: 20px;
	color: #333333;
}

.modal input[type="file"], .modal .wpcf7-form-control-wrap.file, .modal .first.file {
	display: inline-block;
	vertical-align: middle;
}

.modal p {
	position: relative;
	margin-bottom: 15px;
}

.modal .first {
	display: inline-block;
	width: 150px;
	padding: 5px 8px 5px 0;
	vertical-align: top;
	text-align: right;
	font-size: 16px;
	line-height: 22px;
}

.modal .first.top {
	vertical-align: top;
}

.modal .modal_title {
	margin-bottom: 17px;
	text-align: center;
	font-size: 20px;
	line-height: 120%;
	color: #c72221;
}

.modal input[type="submit"] {
	display: block;
	width: 150px;
	padding: 5px 10px 4px;
	margin: 0 auto;
	border: 0;
	background: #c72221;
	text-align: center;
	font-weight: normal;
	font-size: 17px;
	line-height: 130%;
	color: #ffffff;
	cursor: pointer;
}

.modal input[type="submit"]:hover {
	background: #e54847;
}

.modal .ajax-loader {
	display: none;
}

.modal .wpcf7-form-control-wrap {
	display: inline-block;
	position: relative;
	width: 222px;
	vertical-align: top;
}

.modal .wpcf7-not-valid-tip {
	margin: 10px 0 -5px;
}

.modal .wpcf7-response-output {
	padding: 8px 12px;
	margin: 0 0 15px;
	font-size: 15px;
	line-height: 130%;
}

.modal .modal_close {
	display: block;
	position: absolute;
	top: 16px;
	right: 16px;
	width: 24px;
	height: 24px;
	background: url(../images/close.png) 0 0 no-repeat;
	cursor: pointer;
}

.modal .modal_close:hover {
	opacity: 0.8;
}

/* Стили для оформления комментариев */
.comments, .comment, .comment_avatar, .comment_inner, .comment_info, .comment_body {
	display: block;
	position: relative;
	overflow: hidden;
}

.comments {
	margin: 30px 0;
}

.comments h3 {
	display: block;
	margin-bottom: 12px;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	color: #333333;
}

.comments .pagination {
	margin-top: 20px;
}

.comment .comment_inner {
	padding: 15px;
	border-radius: 10px;
	background: #f5f5f5;
}

.comment + .comment, .comment .comment {
	margin-top: 20px;
}

.comment .comment {
	margin-left: 35px;
}

.comment.depth-3 .comment {
	margin-left: 0;
}

.comment .comment_avatar {
	float: left;
	width: 60px;
	height: 60px;
}

.comment .comment_avatar img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.comment .comment_avatar + .comment_body {
	margin-left: 75px;
}

.comment .comment_info {
	margin-bottom: 4px;
}

.comment .comment_author {
	display: block;
	float: left;
	font-weight: bold;
	font-size: 15px;
}

.comment .comment_date {
	display: block;
	float: right;
	font-size: 14px;
	color: #666666;
}

.comment .comment_body {
	font-style: normal;
}

.comment .comment_body p {
	margin-bottom: 12px;
}

.comment .comment_on_moderation {
	font-style: italic;
	color: #990000;
}

.comment .comment_buttons {
	margin-top: 12px;
	text-align: right;
	font-size: 13px;
	line-height: 130%;
	color: #990000;
}

.comment .comment_buttons a {
	display: inline-block;
	padding: 3px 10px;
	border-radius: 5px;
	background: #aaaaaa;
	color: #ffffff;
	text-decoration: none;
}

.comment .comment_buttons a:hover {
	background: #cccccc;
}

.comment .comment_buttons a + a {
	margin-left: 5px;
}

/* Стили для оформления формы комментариев */
.comment-reply-title {
	display: block;
	margin-bottom: 12px;
	font-weight: normal;
	font-size: 18px;
	line-height: 130%;
	color: #333333;
}

.comment-reply-title a {
	color: #953c21;
}

.comment-reply-title small, .comment-reply-title small a {
	font-size: 16px;
	color: #555555;
	text-decoration: none;
	text-transform: lowercase;
}

.comment-reply-title small a:hover {
	text-decoration: underline;
}

.comment-respond {
	width: auto;
	max-width: 600px;
	margin: 30px auto;
}

.comment-respond input[type="text"], .comment-respond textarea {
	display: block;
	box-sizing: border-box;
	width: auto;
	max-width: 200px;
	height: auto;
	padding: 5px 10px;
	margin: 0 0 15px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	font-weight: normal;
	font-size: 14px;
	line-height: 130%;
}

.comment-respond textarea {
	overflow: auto;
	max-width: 100%;
	height: 160px;
}

.comment-respond input[type="submit"] {
	display: inline-block;
	padding: 5px 15px;
	border: 0;
	border-radius: 5px;
	background: #aaaaaa;
	text-align: center;
	font-size: 15px;
	line-height: 130%;
	color: #ffffff;
	cursor: pointer;
}

.comment-respond input[type="submit"]:hover {
	background: #cccccc;
}

.comment-respond p {
	margin-bottom: 15px;
}

.comment-respond p.form-submit {
	overflow: hidden;
	width: 100%;
}

.comment-respond .logout, .comment-respond .login {
	font-weight: bold;
}

.comment-respond .logout {
	text-decoration: none;
}

.comment-respond .logout:hover {
	text-decoration: underline;
}

.comment-respond .login {
	color: #953c21;
}

.content {
	font-size: 14px;
	line-height: 1.3;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
	margin-bottom: 20px;
	font-weight: normal;
	line-height: 1.2;
	color: #222222;
}

.content h1 {
	font-size: 22px;
	text-transform: uppercase;
}

.content h2 {
	font-size: 20px;
}

.content h3 {
	font-size: 18px;
}

.content h4 {
	font-size: 16px;
}

.content h5 {
	font-size: 14px;
}

.content h6 {
	font-size: 13px;
}

.content p, .content > table, .content > ul, .content > ol {
	margin-bottom: 20px;
}

.content ul, .content ol {
	margin-left: 1.4em;
	list-style-position: outside;
}

.content li + li {
	margin-top: 8px;
}

.content table, .content img {
	height: auto;
	width: auto;
	max-width: 100%;
}

.content > :last-child {
	margin-bottom: 0;
}

.content .alignleft {
	float: left;
	margin: 0 20px 20px 0;
}

.content .alignright {
	float: right;
	margin: 0 0 20px 20px;
}

.content .alignnone {
	margin: 0 0 20px;
}

.content .aligncenter {
	display: block;
	margin: 0 auto 20px;
}

.content blockquote {
	display: block;
	overflow: hidden;
	padding: 12px 15px;
	margin-bottom: 20px;
	background: #f5f5f5;
}

.content blockquote :last-child {
	margin-bottom: 0;
}

.content .wp-caption-text {
	text-align: center;
	font-style: italic;
	font-size: 13px;
	line-height: 1.3;
}

.content .wp-caption {
	display: block;
	overflow: hidden;
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 20px;
	background: #f5f5f5;
}

.content .wp-caption .wp-caption-text {
	padding: 10px 10px 0;
}

.gallery {
	overflow: hidden;
	margin: 0 -10px 10px 0;
	font-size: 0;
	line-height: 0;
}

.gallery .gallery-item {
	display: inline-block;
	width: 33.33%;
	padding: 0;
	margin: 0 0 10px;
	vertical-align: top;
}

.gallery .gallery-icon {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 10px;
	margin: 0 10px 0 0;
	background: #f5f5f5;
}

.gallery .gallery-icon a, .gallery .gallery-icon img {
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

.gallery .gallery-caption {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 0 10px 10px;
	margin: 0 10px 0 0;
	background: #f5f5f5;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	width: 50%;
}

.gallery-columns-4 .gallery-item {
	width: 25%;
}

.gallery-columns-5 .gallery-item {
	width: 20%;
}

.gallery-columns-6 .gallery-item {
	width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	width: 11.11%;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

@media only screen and (max-width: 768px) {
	.gallery-columns-2 .gallery-item {
		width: 100%;
	}
	.gallery-columns-4 .gallery-item {
		width: 50%;
	}
	.gallery-columns-5 .gallery-item {
		width: 50%;
	}
	.gallery-columns-6 .gallery-item {
		width: 33.33%;
	}
	.gallery-columns-7 .gallery-item {
		width: 33.33%;
	}
	.gallery-columns-8 .gallery-item {
		width: 25%;
	}
	.gallery-columns-9 .gallery-item {
		width: 25%;
	}
}

/*# sourceMappingURL=style.css.map */