$font_main: Arial, sans-serif;

$color_main: #333333;
$color_background: #f5f5f5;

$content_margin: 25px;

$desktop_large: 1210;
$desktop_small: 1024;

$tablet_large: 768;
$tablet_small: 640;

$phone_large: 480;
$phone_small: 420;