%colors_default {
	--color-icon: #{$color_heading};
	--color-link: #{$color_primary};
	--color-base: #{$color_white};
	--color-text: #{$color_text};
	--color-field: #{$color_field};
	--color-muted: #{$color_muted};
	--color-heading: #{$color_heading};
	--color-border: #{$color_border};
	--color-error: #{$color_error};
	--color-success: #{$color_success};
	--color-primary: #{$color_primary};
	--color-secondary: #{$color_secondary};
	--color-background: #{$color_background};
	--color-section: transparent;
	--color-shadow: 0, 0, 0;
}

%colors_light {
	--color-section: #{$color_background};
	--color-background: #{$color_white};
}

%colors_dark {
	color: #{$color_white};
	--color-icon: var(--color-heading);
	--color-link: #{$color_white};
	--color-base: #{$color_heading};
	--color-text: #{rgba($color_white, 0.9)};
	--color-field: #{rgba($color_white, 0.5)};
	--color-muted: #{rgba($color_white, 0.8)};
	--color-heading: #{$color_white};
	--color-border: #{rgba($color_white, 0.2)};
	--color-background: #{$color_muted};
	--color-section: #{$color_text};
}