@function rem($size) {
	@return ($size / 16) + rem;
}

@mixin dark() {
	@media (prefers-color-scheme: dark) {
		@content;
	}
}

@mixin hover() {
	@media (hover: hover) {
		@content;
	}
}

@mixin clear() {
	&:after {
		display: table;
		content: '';
		clear: both;
	}
}

@mixin placeholder() {

	&::-moz-placeholder {
		@content
	}

	&::-webkit-input-placeholder {
		@content
	}

}

@mixin media_min($width) {
	@media (min-width: rem($width)) {
		@content;
	}
}

@mixin media_max($width) {
	@media (max-width: rem($width)) {
		@content;
	}
}

@mixin desktop_large() {
	@media (max-width: rem($desktop_large)) {
		@content;
	}
}

@mixin desktop_small() {
	@media (max-width: rem($desktop_small)) {
		@content;
	}
}

@mixin tablet_large() {
	@media (max-width: rem($tablet_large)) {
		@content;
	}
}

@mixin tablet_small() {
	@media (max-width: rem($tablet_small)) {
		@content;
	}
}

@mixin phone_large() {
	@media (max-width: rem($phone_large)) {
		@content;
	}
}

@mixin phone_small() {
	@media (max-width: rem($phone_small)) {
		@content;
	}
}

@mixin container_min($width) {
	@container (min-width: rem($width)) {
		@content;
	}
}

@mixin container_max($width) {
	@container (max-width: rem($width)) {
		@content;
	}
}