@mixin clear() {

	&:after {
		display: table;
		content: '';
		clear: both;
	}

}

@mixin placeholder() {

	&:-ms-input-placeholder {
		@content
	}

	&::-moz-placeholder {
		@content
	}

	&::-webkit-input-placeholder {
		@content
	}

}

@mixin hover() {
	@media (hover: hover) {
		@content;
	}
}

@mixin media_min($width) {
	@media (min-width: $width) {
		@content;
	}
}

@mixin media_max($width) {
	@media (max-width: $width) {
		@content;
	}
}

@mixin desktop_large() {
	@media (max-width: $desktop_large) {
		@content;
	}
}

@mixin desktop_small() {
	@media (max-width: $desktop_small) {
		@content;
	}
}

@mixin tablet_large() {
	@media (max-width: $tablet_large) {
		@content;
	}
}

@mixin tablet_small() {
	@media (max-width: $tablet_small) {
		@content;
	}
}

@mixin phone_large() {
	@media (max-width: $phone_large) {
		@content;
	}
}

@mixin phone_small() {
	@media (max-width: $phone_small) {
		@content;
	}
}