#{$scope} {

	/* Fonts */
	--font-main: Arial, sans-serif;
	--font-heading: Arial, sans-serif;

	/* Colors */
	@extend %colors_default;

	/* Shadows */
	--shadow-small: 0 1px 2px rgba(var(--color-shadow), 0.15);
	--shadow-regular: 0 5px 10px rgba(var(--color-shadow), 0.1);
	--shadow-large: 0 5px 40px rgba(var(--color-shadow), 0.05);

	/* Paddings & Margins */
	--gap-card: 30px;
	--gap-list: 12px;
	--gap-field: 16px;
	--gap-button: 25px;
	--gap-heading: 20px;
	--gap-content: 20px;
	--gap-contents: 30px;

	--gap-buttons: 10px;
	--gap-buttons-x: var(--gap-buttons);
	--gap-buttons-y: var(--gap-buttons);

	--gap-table: 15px;
	--gap-table-x: var(--gap-table);
	--gap-table-y: calc(var(--gap-table) - 5px);

	--gap-grid: 30px;
	--gap-grid-x: var(--gap-grid);
	--gap-grid-y: var(--gap-grid);

	--gap-section: 80px;
	--gap-section-top: 0px;
	--gap-section-bottom: var(--gap-section);
	--gap-section-inner: 80px;
	--gap-section-small: 40px;
	--gap-section-side: 40px;

	/* Offsets */
	--offset-top: 0px;
	--offset-bottom: 0px;
	--offset-section: 0px;
	--offset-header: 0px;

	/* Dimensions */
	--height-control: #{rem(50)};
	--height-header: #{rem(80)};
	--height-image: 100%;
	--height-icon: #{rem(16)};
	--height-bar: 0px;

	--width-icon: var(--height-icon);
	--width-item: 25%;
	--width-scrollbar: 0px;
	--width-content: #{rem(480)};
	--width-contents: #{rem(640)};

	--width-fixed: #{rem($desktop_large)};
	--width-fixed-small: #{rem(1000)};
	--width-fixed-large: calc(100vw - var(--width-scrollbar));

	--radius-small: 0px;
	--radius-regular: 10px;
	--radius-large: 20px;

	/* Mask Images */
	--mask-image: none;

	/* Font Sizes */
	--size-huge: #{rem(64)};
	--size-big: #{rem(48)};
	--size-h1: #{rem(42)};
	--size-h2: #{rem(32)};
	--size-h3: #{rem(24)};
	--size-h4: #{rem(20)};
	--size-h5: #{rem(18)};
	--size-h6: #{rem(16)};
	--size-tiny: #{rem(14)};
	--size-base: #{rem(16)};
	--size-small: #{rem(15)};
	--size-large: #{rem(20)};
	--size-content: #{rem(18)};

	@include desktop_small {

		--gap-grid: 20px;
		--gap-card: 20px;
		--gap-button: 20px;
		--gap-heading: 15px;
		--gap-contents: 25px;

		--gap-section: 50px;
		--gap-section-inner: 30px;
		--gap-section-small: 30px;
		--gap-section-side: 20px;

		--height-control: #{rem(44)};
		--height-header: #{rem(42)};

		--width-item: 33.333%;

		--size-huge: #{rem(48)};
		--size-big: #{rem(42)};
		--size-h1: #{rem(36)};
		--size-h2: #{rem(28)};
		--size-h3: #{rem(20)};
		--size-h4: #{rem(18)};
		--size-tiny: #{rem(13)};
		--size-base: #{rem(15)};
		--size-small: #{rem(14)};
		--size-large: #{rem(18)};
		--size-content: #{rem(16)};

	}

	@include tablet_small {

		--gap-section: 40px;
		--gap-section-inner: 20px;

		--width-item: 50%;

		--size-huge: #{rem(42)};
		--size-big: #{rem(36)};
		--size-h1: #{rem(32)};
		--size-h2: #{rem(24)};
		--size-h4: #{rem(16)};

	}

	@include phone_small {

		--width-item: 100%;

		--size-huge: #{rem(36)};
		--size-big: #{rem(32)};
		--size-h1: #{rem(28)};

	}

}