#{$scope} {

	/* Fonts */
	--font-main: Arial, sans-serif;
	--font-heading: Arial, sans-serif;

	/* Colors */
	--color-icon: #{$color_heading};
	--color-link: #{$color_primary};
	--color-base: #{$color_white};
	--color-text: #{$color_text};
	--color-field: #{$color_field};
	--color-muted: #{$color_muted};
	--color-heading: #{$color_heading};
	--color-border: #{$color_border};
	--color-bright: #{$color_bright};
	--color-primary: #{$color_primary};
	--color-secondary: #{$color_secondary};
	--color-background: #{$color_background};
	--color-section: transparent;

	/* Grid Paddings and Margins */
	--gap-aside: 40px;
	--gap-card: 30px;
	--gap-grid: 30px;
	--gap-field: 16px;
	--gap-button: 25px;
	--gap-buttons: 10px;
	--gap-heading: 20px;
	--gap-content: 20px;
	--gap-contents: 30px;
	--gap-vertical: 35px;

	--gap-section: 80px;
	--gap-section-top: 0px;
	--gap-section-bottom: var(--gap-section);
	--gap-section-shift: 0px;
	--gap-section-offset: 80px;
	--gap-subsection: 40px;
	--gap-table: 15px;

	/* Content Widths */
	--width-item: 25%;
	--width-small: #{rem(1000)};
	--width-fixed: #{rem($desktop_large)};
	--width-scrollbar: 0px;
	--width-contents: #{rem(640)};
	--width-content: #{rem(480)};

	--height-control: #{rem(50)};
	--height-header: #{rem(80)};
	--height-image: 100%;
	--height-bar: 0px;
	--height-top: 0px;
	--height-bottom: 0px;

	--header-offset: 0px;

	--radius-small: 0px;
	--radius-regular: 10px;
	--radius-large: 20px;

	--shadow-small: 0 1px 2px rgba(0, 0, 0, 0.15);
	--shadow-regular: 5px 5px 40px rgba(0, 0, 0, 0.05);

	--mask-image: none;

	/* Font Sizes */
	--size-huge: #{rem(64)};
	--size-big: #{rem(48)};
	--size-h1: #{rem(42)};
	--size-h2: #{rem(32)};
	--size-h3: #{rem(24)};
	--size-h4: #{rem(20)};
	--size-h5: #{rem(18)};
	--size-h6: #{rem(16)};
	--size-tiny: #{rem(14)};
	--size-base: #{rem(16)};
	--size-small: #{rem(15)};
	--size-large: #{rem(20)};
	--size-content: #{rem(18)};

	@include desktop_small {

		--gap-grid: 20px;
		--gap-card: 20px;
		--gap-aside: 20px;
		--gap-button: 20px;
		--gap-heading: 15px;
		--gap-contents: 25px;
		--gap-vertical: 30px;

		--gap-section: 50px;
		--gap-section-offset: 30px;
		--gap-subsection: 30px;

		--height-control: #{rem(44)};
		--height-header: #{rem(42)};

		--width-item: 33.333%;

		--size-huge: #{rem(48)};
		--size-big: #{rem(42)};
		--size-h1: #{rem(36)};
		--size-h2: #{rem(28)};
		--size-h3: #{rem(20)};
		--size-h4: #{rem(18)};
		--size-tiny: #{rem(13)};
		--size-base: #{rem(15)};
		--size-small: #{rem(14)};
		--size-large: #{rem(18)};
		--size-content: #{rem(16)};

	}

	@include tablet_small {

		--gap-contents: 20px;
		--gap-vertical: 25px;

		--gap-section: 40px;
		--gap-section-offset: 20px;
		--gap-subsection: 25px;

		--width-item: 50%;

		--size-huge: #{rem(42)};
		--size-big: #{rem(36)};
		--size-h1: #{rem(32)};
		--size-h2: #{rem(24)};
		--size-h4: #{rem(16)};

	}

	@include phone_small {

		--width-item: 100%;

		--size-huge: #{rem(36)};
		--size-big: #{rem(32)};
		--size-h1: #{rem(28)};

	}

}