$icons_svg: (
	sprite: (
		width: {{spriteWidth}},
		height: {{spriteHeight}}
	),
	{{#shapes}}
	{{base}}: (
		width: {{width.inner}},
		height: {{height.inner}},
		x: {{position.absolute.x}},
		y: {{position.absolute.y}}
	),
	{{/shapes}}
);