$desktop_large: 1420;
$desktop_small: 1024;

$tablet_large: 768;
$tablet_small: 640;

$phone_large: 480;
$phone_small: 400;

$color_white: #FFFFFF;
$color_black: #000000;
$color_text: #1B1D1F;
$color_muted: #74787D;
$color_field: #A8ABB0;
$color_border: #E9EBED;
$color_heading: #1B1D1F;
$color_error: #dc3545;
$color_success: #198754;
$color_primary: #0079C1;
$color_secondary: #95C11F;
$color_background: #F7F8F9;

$colors: (
	'base',
	'section',
	'background',
	'text',
	'muted',
	'heading',
	'border',
	'field',
	'shadow',
	'icon',
	'link',
	'error',
	'success',
	'primary',
	'secondary'
);