$desktop_large: 1420px;
$desktop_small: 1024px;

$tablet_large: 768px;
$tablet_small: 640px;

$phone_large: 480px;
$phone_small: 420px;

$color_white: #FFFFFF;
$color_text: #1B1D1F;
$color_muted: #74787D;
$color_field: #A8ABB0;
$color_border: #E9EBED;
$color_heading: #1B1D1F;
$color_bright: #EF463D;
$color_primary: #0079C1;
$color_secondary: #95C11F;
$color_background: #F7F8F9;

$scope: ':root';