$desktop_large: 1280px + 40px * 2;
$desktop_small: 1024px;

$tablet_large: 768px;
$tablet_small: 640px;

$phone_large: 480px;
$phone_small: 420px;

$color_white: #FFFFFF;
$color_text: #1B1D1F;
$color_muted: #74787D;
$color_field: #A8ABB0;
$color_border: #E9EBED;
$color_heading: #1B1D1F;
$color_bright: #EF463D;
$color_primary: #0079C1;
$color_secondary: #95C11F;
$color_background: #F7F8F9;

:root {

	/* Fonts */
	--font-main: Arial, sans-serif;
	--font-heading: Arial, sans-serif;

	/* Colors */
	--color-base: #{$color_white};
	--color-text: #{$color_text};
	--color-field: #{$color_field};
	--color-muted: #{$color_muted};
	--color-heading: #{$color_heading};
	--color-border: #{$color_border};
	--color-bright: #{$color_bright};
	--color-primary: #{$color_primary};
	--color-secondary: #{$color_secondary};
	--color-background: #{$color_background};

	/* Grid Paddings and Margins */
	--gap-aside: 40px;
	--gap-grid: 30px;
	--gap-heading: 15px;
	--gap-content: 20px;
	--gap-contents: 35px;
	--gap-vertical: var(--gap-grid);

	--gap-section: 100px;
	--gap-section-top: 0px;
	--gap-section-bottom: var(--gap-section);

	/* Content Widths */
	--width-item: 25%;
	--width-small: 800px;
	--width-regular: #{$desktop_large};
	--width-scrollbar: 0px;

	--height-control: 48px;
	--height-header: 80px;
	--height-bar: 0px;

	--header-offset: 0px;

	--radius-small: 5px;
	--radius-regular: 10px;
	--radius-large: 30px;

	--shadow-regular: 5px 5px 40px rgba(0, 0, 0, 0.05);

	/* Font Sizes */
	--size-h1: 36px;
	--size-h2: 28px;
	--size-h3: 24px;
	--size-h4: 20px;
	--size-h5: 18px;
	--size-h6: 16px;
	--size-base: 16px;
	--size-content: 18px;

	@include desktop_small {

		--gap-grid: 20px;
		--gap-aside: 20px;
		--gap-section: 50px;
		--gap-contents: 25px;

		--height-control: 42px;
		--height-header: 60px;

		--width-item: 33.333%;

		--size-h1: 32px;
		--size-h2: 24px;
		--size-h3: 20px;
		--size-h4: 18px;
		--size-content: 16px;

	}

	@include tablet_small {

		--gap-section: 35px;
		--width-item: 50%;

	}

	@include phone_small {

		--gap-section: 35px;
		--width-item: 100%;

	}

}