html, body {
	height: 100%;
}

body {
	font-family: $font_main;
	font-size: 16px;
	line-height: 1.4;
	color: $color_main;
	min-width: 320px;
}

ol, ul {
	list-style-position: inside;
}

a {
	color: $color_main;
	text-decoration: underline;

	&:hover {
		text-decoration: none;

		img {
			opacity: 0.8;
		}

	}

}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="submit"], textarea {
	display: inline-block;
	box-sizing: border-box;
	padding: 12px 20px;
	font-size: 16px;
	font-family: $font_main;
	line-height: 1.4;
	border-radius: 5px;
	background: #ffffff;
	border: none;
}

textarea {
	overflow: auto;
	height: 200px;
	width: 100%;
}

input[type="submit"] {
	background-color: $color_main;
	color: #ffffff;
	transition: 0.2s;
	cursor: pointer;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 20px;

	&:hover {
		background-color: lighten($color_main, 20%);	
	}

}

#site {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

.container_box {
	display: block;
	position: relative;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 0;
}

.wrapper_box {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;

	@include tablet_large {
		flex-wrap: wrap;
		justify-content: center;

		.main_box {
			width: 100%;
			order: 1;
		}

	}

}

.main_box {
	display: block;
	position: relative;
	order: 2;
	flex-grow: 1;
	flex-basis: 100%;
}

.sidebar_box {
	display: block;
	flex-shrink: 0;
	width: 272px;
	margin-right: 30px;
	order: 1;

	@include desktop_small {
		width: 240px;
		margin-right: 20px;
	}

	@include tablet_large {
		margin-right: 0;
		width: 100%;
		max-width: 400px;
		order: 2;
	}

}

.footer_box {
	display: block;
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	z-index: 1;
}

.fixed {
	max-width: 1140px;
	padding: 0 20px;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	width: 100%;
	box-sizing: border-box;
}