%button {
	display: inline-flex;
	position: relative;
	align-items: center;
	align-content: center;
	justify-content: center;
	box-sizing: border-box;
	width: auto;
	height: auto;
	min-height: var(--height-button);
	padding: 0 var(--gap-button);
	margin: 0;
	border: 1px solid var(--button-border);
	border-radius: var(--radius-small);
	background: var(--button-base) 50% 50% no-repeat;
	background-size: rem(19) rem(19);
	color: var(--button-text);
	font-family: var(--font-main);
	font-size: var(--size-button);
	font-weight: 600;
	line-height: var(--line-button);
	text-align: center;
	transition: 0.2s;
	cursor: pointer;
	z-index: 2;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	gap: rem(8);

	@include hover {
		&:hover {
			border-color: var(--button-border-active);
			background-color: var(--button-base-active);
			color: var(--button-text-active);
		}
	}

}

%button_outline {
	--button-border: var(--color-heading);
	--button-base: var(--color-base);
	--button-text: var(--color-heading);
	--button-border-active: var(--color-primary);
	--button-base-active: var(--color-primary-alt);
	--button-text-active: var(--color-primary);
}

%button_disabled {
	--button-base: var(--color-background);
	--button-text: var(--color-muted);
	--button-border: var(--color-border);
	--button-border-active: var(--color-border);
	--button-base-active: var(--color-background);
	--button-text-active: var(--color-muted);
}

%button_icon_before {

	&:before {
		content: '';
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 0;
		width: var(--width-icon);
		height: var(--height-icon);
		background: currentColor;
		-webkit-mask: var(--mask-image) 50% 50% / contain no-repeat;
	}

}

%button_icon_after {

	&:after {
		content: '';
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 0;
		width: var(--width-icon);
		height: var(--height-icon);
		background: currentColor;
		-webkit-mask: var(--mask-image) 50% 50% / contain no-repeat;
	}

}

%buttons {
	display: block;
	margin: 0 calc(-1 * var(--gap-buttons-x)) var(--gap-buttons-y) 0;
	font-size: 0;
	line-height: 0;

	&:last-child {
		margin-bottom: calc(-1 * var(--gap-buttons-y));
	}

	.button {
		flex-basis: auto;
		flex-grow: 1;
		margin: 0 var(--gap-buttons-x) var(--gap-buttons-y) 0;
	}

}