%button {
	display: inline-flex;
	position: relative;
	align-items: center;
	align-content: center;
	justify-content: center;
	box-sizing: border-box;
	width: auto;
	height: auto;
	min-height: var(--height-control);
	padding: 0 var(--gap-button);
	margin: 0;
	border: 1px solid transparent;
	border-radius: var(--radius-small);
	background: var(--color-primary) 50% 50% no-repeat;
	background-size: rem(19) rem(19);
	color: var(--color-base);
	font-family: var(--font-main);
	font-size: rem(16);
	font-weight: 500;
	line-height: rem(20);
	text-align: center;
	transition: 0.2s;
	cursor: pointer;
	z-index: 2;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	gap: rem(8);

	@include hover {
		&:hover {
			background-color: var(--color-secondary);
		}
	}

}

%button_outline {
	border-color: currentColor;
	background-color: transparent;
	color: currentColor;

	@include hover {
		&:hover {
			border-color: var(--color-primary);
			background-color: transparent;
			color: var(--color-primary);
		}
	}

}

%button_disabled {
	border-color: var(--color-border);
	background-color: var(--color-background);
	color: var(--color-muted);
	cursor: default;
}

%button_icon_before {

	&:before {
		content: '';
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 0;
		width: rem(16);
		height: rem(16);
		background: currentColor;
		-webkit-mask: var(--mask-image) 50% 50% / contain no-repeat;
	}

}

%button_icon_after {

	&:after {
		content: '';
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 0;
		width: rem(16);
		height: rem(16);
		background: currentColor;
		-webkit-mask: var(--mask-image) 50% 50% / contain no-repeat;
	}

}