button {
	box-sizing: border-box;
	padding: 0;
	border: none;
	background: none;
	color: currentColor;
	transition: 0.2s;
	cursor: pointer;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

%button {
	display: inline-flex;
	position: relative;
	align-items: center;
	align-content: center;
	justify-content: center;
	box-sizing: border-box;
	width: auto;
	height: var(--height-control);
	padding: 0 25px;
	margin: 0;
	border: 1px solid transparent;
	border-radius: var(--radius-small);
	background: var(--color-primary) 50% 50% no-repeat;
	background-size: 19px 19px;
	color: var(--color-base);
	font-family: var(--font-main);
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	transition: 0.2s;
	cursor: pointer;
	z-index: 2;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	@include hover {
		&:hover {
			background-color: var(--color-secondary);
		}
	}

}

%button_outline {
	border-color: currentColor;
	background-color: transparent;
	color: currentColor;

	@include hover {
		&:hover {
			border-color: var(--color-primary);
			background-color: transparent;
			color: var(--color-primary);
		}
	}

}

%button_disabled {
	border-color: var(--color-border);
	background-color: var(--color-background);
	color: var(--color-muted);
	cursor: default;
}

%button_icon_before {

	&:before {
		content: '';
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 0;
		width: 16px;
		height: 16px;
		margin-right: 6px;
		background-color: currentColor;
		-webkit-mask: none 50% 50% no-repeat;
	}

}

%button_icon_after {

	&:after {
		content: '';
		display: inline-block;
		width: 16px;
		height: 16px;
		margin-left: 6px;
		background-color: currentColor;
		-webkit-mask: none 50% 50% no-repeat;
	}

}

.button {

	@extend %button;

	&.outline {
		@extend %button_outline;
	}

	&:disabled {
		@extend %button_disabled;
	}

	&.is_hidden {
		display: none;
	}

	&.is_loading, &.is_loading:hover {
		border-color: var(--color-border);
		background-color: var(--color-muted);
		background-image: url(../images/ico_loading.svg);
		color: transparent;
	}

}

.buttons {
	display: block;
	margin: 0 -10px 10px;
	font-size: 0;
	line-height: 0;

	&:last-child {
		margin-bottom: -10px;
	}

	&_wide {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}

	.button {
		flex-basis: 0;
		flex-grow: 1;
		min-width: 0;
		margin: 0 10px 10px;
	}

}