%carousel {

	&.items {
		overflow: hidden;
		flex-wrap: nowrap !important;

		&.is-horizontal {
			display: block;
			overflow: visible;
			width: 100%;
			margin: 0;
		}

	}

	&.is-horizontal {

		.carousel-track {
			width: calc(100% + var(--gap-grid-x));
		}

		.item {
			margin-bottom: 0;
		}

	}

	&.has-thumbs {

		.carousel-button {
			bottom: 50%;
			margin-bottom: calc(-0.5 * var(--height-control));
			right: calc(-0.5 * var(--height-control));

			&.is-prev {
				right: auto;
				left: calc(-0.5 * var(--height-control));
			}

		}

	}

	&.is-ltr {
		direction: ltr;
	}

	&.is-rtl {
		direction: rtl;
	}

	.carousel-viewport {
		overflow: hidden;
		width: 100%;
		height: 100%;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;

		@include hover {

			&.is-draggable {
				cursor: grab;
			}

			&.is-dragging {
				cursor: grabbing;
				pointer-events: none;
			}

		}

	}

	.carousel-track {
		display: flex;
		position: relative;
		height: 100%;
		margin: 0 auto;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	.carousel-dots {
		display: flex;
		position: relative;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		height: rem(40);
		padding: 0 rem(48);
		margin: var(--gap-grid-y) 0 0;

		&.is-dynamic {

			li:not([class^='is-']) button {
				width: 0;
				padding: 0;

				&:before {
					transform: scale(0);
				}

			}

			li {
				overflow: hidden;

				&.is-after-next button:before,
				&.is-before-prev button:before {
					transform: scale(0.333);
				}

				&.is-prev button:before,
				&.is-next button:before {
					transform: scale(0.666);
				}

				&.is-current button:before {
					transform: scale(1);
				}

			}

		}

		li.is-current button:before {
			background-color: var(--color-primary);
		}

		button {
			display: block;
			width: rem(24);
			height: rem(24);
			padding: rem(6);
			transition: 0.2s;
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				border-radius: 50%;
				background-color: var(--color-field);
				transition: 0.2s;
			}

			@include hover {
				&:hover:before {
					background-color: var(--color-primary);
				}
			}

		}

	}

	.carousel-button {
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		width: rem(40);
		height: rem(40);
		border: 1px solid var(--color-border);
		border-radius: 50%;
		background-color: var(--color-background);
		color: var(--color-heading);
		transition: 0.2s;
		cursor: pointer;
		z-index: 4;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: rem(8);
			height: rem(12);
			margin: -#{rem(6)} 0 0 -#{rem(4)};
			background-color: currentColor;
			-webkit-mask: url(../images/ico_arrow.svg) 50% 50% no-repeat;
		}

		&:disabled {
			visibility: hidden;
			opacity: 0;
		}

		&.is-prev {
			right: auto;
			left: 0;

			&:before {
				transform: scaleX(-1);
			}

		}

		@include hover {
			&:hover {
				border-color: transparent;
				background-color: var(--color-primary);
				color: var(--color-base);
			}
		}

	}

}