%content {
	display: block;
	position: relative;
	margin: 0 0 var(--gap-contents);
	color: var(--color-text);
	font-size: var(--size-content);
	font-weight: 400;
	line-height: 1.5;

	&:last-child {
		margin-bottom: 0;
	}

	@include clear();

	h1, h2, h3, h4, h5, h6 {
		margin-top: calc(var(--gap-content) + 15px);

		&:first-child {
			margin-top: 0;
		}

	}

	p, & > table, ul:not([class]), ol:not([class]), .table {
		margin-bottom: var(--gap-content);

		&:last-child {
			margin-bottom: 0;
		}

	}

	a:not([class]) {
		color: var(--color-primary);
		text-decoration: underline;

		@include hover() {
			&:hover {
				text-decoration: none;
			}
		}

	}

	ul:not([class]), ol:not([class]) {
		display: block;
		--gap-content: 10px;

		ul, ol {
			padding-top: calc(var(--gap-content) - 5px);
		}

		li {
			display: block;
			position: relative;
			padding: 0 0 0 25px;
			margin-bottom: 15px;
			--gap-content: 10px;

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	ul:not([class]) {

		& > li {

			&:before {
				content: '';
				position: absolute;
				top: 10px;
				left: 0;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--color-primary);
			}

		}

	}

	ol:not([class]) {
		counter-reset: list;

		& > li {
			counter-increment: list;

			&:before {
				content: counter(list) '.';
				position: absolute;
				top: 0;
				left: 0;
				font-weight: 700;
			}

		}

	}

	img {
		max-width: 100%;
		height: auto;
		margin-inline: 5px 0;
	}

	iframe {
		max-width: 100%;
	}

	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		border: 1px solid var(--color-border);
	}

	thead {
		background-color: var(--color-background);
	}

	tbody {

		tr:nth-child(2n) {
			background-color: var(--color-background);
		}

	}

	td, th {
		padding: 10px;
		border-bottom: 1px solid var(--color-border);

		&:first-child {
			padding-left: 20px;
		}

		&:last-child {
			padding-right: 20px;
		}

	}

	th {
		font-weight: 600;
		text-align: left;
	}

	hr {
		height: 1px;
		margin: calc(var(--gap-content) + 5px) 0;
		border-width: 0;
		background-color: var(--color-border);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	blockquote {
		display: block;
		padding: calc(var(--gap-content) - 5px) var(--gap-content);
		margin-bottom: var(--gap-content);
		background: var(--color-background);
	}

	.table {
		overflow: auto;
	}

	.alignleft {
		float: left;
		margin: 0 var(--gap-content) var(--gap-content) 0;
	}

	.alignright {
		float: right;
		margin: 0 0 var(--gap-content) var(--gap-content);
	}

	.alignnone {
		height: auto;
		margin: 0 0 var(--gap-content);
	}

	.aligncenter {
		display: block;
		max-width: 100%;
		margin: 0 auto var(--gap-content);
	}

	.gallery {
		display: flex;
		flex-wrap: wrap;
		width: calc(100% + var(--gap-grid));
		margin: 0 calc(-1 * var(--gap-grid)) calc(var(--gap-content) + 5px) 0;
		--width-item: 33.33%;
		--gap-grid: 10px;
		--gap-vertical: 10px;

		&:last-child {
			margin-bottom: calc(-1 * var(--gap-vertical));
		}

		&.carousel {
			display: block;
			flex-wrap: nowrap;
			margin-bottom: 0;

			.gallery-item {
				margin-bottom: 0;
			}

		}

		&-columns-1 {
			--width-item: 100%;
		}

		&-columns-2 {
			--width-item: 50%;
		}

		&-columns-4 {
			--width-item: 25%;
		}

		&-columns-5 {
			--width-item: 20%;
		}

		&-columns-6 {
			--width-item: 16.66%;
		}

		&-columns-7 {
			--width-item: 14.28%;
		}

		&-columns-8 {
			--width-item: 12.5%;
		}

		&-columns-9 {
			--width-item: 11.11%;
		}

		&-columns-6 .gallery-caption,
		&-columns-7 .gallery-caption,
		&-columns-8 .gallery-caption,
		&-columns-9 .gallery-caption {
			@extend %hidden;
		}

		&-item {
			display: inline-flex;
			position: relative;
			flex-direction: column;
			flex-grow: 0;
			flex-shrink: 0;
			width: calc(var(--width-item) - var(--gap-grid));
			margin: 0 var(--gap-grid) var(--gap-vertical) 0;

			&:after {
				content: '';
				display: block;
				padding-bottom: 66.666%;
			}

			.play {
				@extend %play;
			}

			img {
				position: absolute;
				width: 100%;
				height: 100%;
				inset: 0;
				object-fit: cover;
			}

		}

		&-icon {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			a, img {
				display: block;
				flex-grow: 1;
				width: 100%;
				height: auto;
				border-radius: var(--radius-small);
			}

			img {
				height: 100%;
				object-fit: cover;
			}

		}

		&-caption {
			display: block;
			padding: 10px;
			background: var(--color-background);
		}

	}

	.f-thumbs {
		margin-top: 10px;
		--f-thumb-border-radius: 0px;
		--f-thumb-width: 16.666%;
		--f-thumb-height: auto;

		&.is-horizontal .f-thumbs__track {
			width: calc(100% + var(--f-thumb-gap));
			padding: 0;
			--f-thumb-gap: 10px;
		}

		&__slide {
			width: calc(var(--f-thumb-width) - var(--f-thumb-gap));

			&__button {
				width: 100%;
				height: auto;
				margin: 0;

				&:before {
					content: '';
					display: block;
					padding-bottom: 66.666%;
				}

			}

			&__img {
				width: 100%;
				height: 100%;
				padding: 0;
				border-radius: var(--f-thumb-border-radius);
			}

		}

	}

	@include tablet_large {

		.alignright, .alignleft {
			display: block;
			float: none;
			margin: 0 0 var(--gap-content);
			text-align: center;
		}

		.gallery {
			--width-item: 50%;

			&-columns-1, &-columns-2 {
				--width-item: 100%;
			}

			&-columns-6, &-columns-7 {
				--width-item: 33.33%;
			}

			&-columns-8, &-columns-9 {
				--width-item: 25%;
			}

		}

	}

	@include phone_large {

		.gallery {
			--width-item: 100%;

			&-columns-6, &-columns-7 {
				width: 50%;
			}

			&-columns-8, &-columns-9 {
				width: 33.33%;
			}

		}

	}

}