/* Styles for the content editor */

.content {
	display: block;
	position: relative;

	@include clear();

	h1, h2, h3, h4, h5, h6 {
		margin: #{$margin_content + 10px} 0 #{$margin_content - 10px};

		&:first-child {
			margin-top: -0.25em;
		}

	}

	p, & > table, & > ul, & > ol, .table_wrapper {
		margin-bottom: $margin_content;
	}

	p {

		& + ul, & + ol {
			margin-top: -10px;
		}

	}

	ul, ol {
		display: block;
		position: relative;

		ul, ol {
			display: block;
			padding-top: 15px;
			margin-left: 0;
		}

	}

	li {
		display: block;
		position: relative;
		padding-left: 20px;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

	}

	ul {

		& > li {

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 9px;
				left: 0;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: $color_main;
			}

		}

	}

	ol {
		counter-reset: list;

		& > li {
			counter-increment: list;

			&:before {
				content: counter(list) '.';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				font-weight: 700;
				text-align: center;
			}

		}

	}

	img {
		max-width: 100%;
		height: auto;
	}

	table {
		width: auto;
		max-width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
	}

	td, th {
		padding: 5px 10px;
		border: 1px solid $color_border;
	}

	.table_wrapper {
		overflow: auto;
	}

	& > :last-child {
		margin-bottom: 0;
	}

	hr {
		height: 1px;
		margin: ($margin_content + 5px) 0;
		border: none;
		background-color: $color_border;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	a {
		color: inherit;
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

	}

	.button {
		text-decoration: none;
	}

	@include desktop_small {

		p, & > table, & > ul, & > ol, .table_wrapper {
			margin-bottom: ($margin_content - 5px);
		}

		hr {
			margin: $margin_content 0;
		}

		.table_wrapper {
			display: block;
			overflow-x: auto;
			overflow-y: hidden;
		}

	}

}


/* WordPress default alignment classes */

.content {

	.alignleft {
		float: left;
		margin: 0 $margin_content $margin_content 0;
	}

	.alignright {
		float: right;
		margin: 0 0 $margin_content $margin_content;
	}

	.alignnone {
		width: 100%;
		height: auto;
		margin: 0 0 $margin_content;
	}

	.aligncenter {
		display: block;
		max-width: 100%;
		margin: 0 auto $margin_content;
	}

	@include tablet_large {

		.alignright, .alignleft {
			display: block;
			float: none;
			margin: 0 auto #{$margin_content - 5px};
			text-align: center;
		}

	}

}


/* Blockquote */

.content {

	blockquote {
		display: block;
		overflow: hidden;
		padding: ($margin_content - 5px) $margin_content;
		margin-bottom: $margin_content;
		background: $color_background;

		:last-child {
			margin-bottom: 0;
		}

	}

}


/* Image with caption */

.content {

	.wp-caption-text {
		display: block;
		margin: 0;
		text-align: center;
	}

	.wp-caption {
		display: block;
		overflow: hidden;
		box-sizing: border-box;
		padding: 10px;
		margin-bottom: $margin_content;
		background: $color_background;

		.wp-caption-text {
			padding: 10px 10px 0;
		}

		a, img {
			display: block;
			position: relative;
			margin: 0;
		}

	}

}


/* Gallery */

.content {

	.gallery {
		display: flex;
		position: relative;
		overflow: hidden;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		margin: 0 -5px 10px;

		&-columns-1 .gallery-item {
			width: 100%;
		}

		&-columns-2 .gallery-item {
			width: 50%;
		}

		&-columns-4 .gallery-item {
			width: 25%;
		}

		&-columns-5 .gallery-item {
			width: 20%;
		}

		&-columns-6 .gallery-item {
			width: 16.66%;
		}

		&-columns-7 .gallery-item {
			width: 14.28%;
		}

		&-columns-8 .gallery-item {
			width: 12.5%;
		}

		&-columns-9 .gallery-item {
			width: 11.11%;
		}

		&-columns-6 .gallery-caption,
		&-columns-7 .gallery-caption,
		&-columns-8 .gallery-caption,
		&-columns-9 .gallery-caption {
			display: none;
		}

	}

	.gallery-item {
		display: inline-block;
		box-sizing: border-box;
		width: 33.33%;
		padding: 0 5px;
		margin: 0 0 10px;
		vertical-align: top;
	}

	.gallery-icon {
		display: block;
		padding: 0;
		margin: 0;

		a, img {
			display: block;
			width: 100%;
			height: auto;
			padding: 0;
			margin: 0;
		}

	}

	.gallery-caption {
		display: block;
		padding: 10px;
		background: $color_background;
	}

	@include tablet_large() {

		.gallery {

			&-columns-2 .gallery-item {
				width: 100%;
			}

			&-columns-4 .gallery-item, &-columns-5 .gallery-item {
				width: 50%;
			}

			&-columns-6 .gallery-item, &-columns-7 .gallery-item {
				width: 33.33%;
			}

			&-columns-8 .gallery-item, &-columns-9 .gallery-item {
				width: 25%;
			}

		}

	}

	@include phone_large() {

		.gallery {

			&-columns-3 .gallery-item, &-columns-4 .gallery-item, &-columns-5 .gallery-item {
				width: 100%;
			}

			&-columns-6 .gallery-item, &-columns-7 .gallery-item {
				width: 50%;
			}

			&-columns-8 .gallery-item, &-columns-9 .gallery-item {
				width: 33.33%;
			}

		}

	}

}


/* Embeds */

.wp-block-embed, .wp-embed-video {
	display: block;
	position: relative;
	width: 100%;
	margin: #{$margin_content + 5px} auto;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

.wp-block-embed {

	&.wp-has-aspect-ratio {

		&:before {
			content: '';
			display: block;
			position: relative;
			width: 100%;
			padding-bottom: 56.25%;
		}

		.wp-block-embed__wrapper {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		iframe {
			display: block;
			width: 100%;
			height: 100%;
		}

	}

}

.wp-embed-video {

	&:before {
		content: '';
		display: block;
		position: relative;
		width: 100%;
		padding-bottom: 56.25%;
	}

	iframe {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}