/* Styles for the content editor */

.content {
	display: block;
	position: relative;
	margin: 0 0 var(--gap-contents);
	color: var(--color-text);
	font-size: var(--size-content);
	font-weight: 400;
	line-height: 1.5;

	&:last-child {
		margin-bottom: 0;
	}

	@include clear();

	h1, h2, h3, h4, h5, h6 {
		margin-top: calc(var(--gap-content) + 15px);

		&:first-child {
			margin-top: 0;
		}

	}

	p, & > table, ul, ol, .table_wrapper {
		margin: 0 0 var(--gap-content);

		&:last-child {
			margin-bottom: 0;
		}

	}

	a:not([class]) {
		color: var(--color-primary);
		text-decoration: underline;

		&:hover {
			text-decoration: none;
		}

	}

	ul, ol {
		display: block;

		ul, ol {
			padding-top: calc(var(--gap-content) - 5px);
			margin-left: 0;
		}

	}

	li {
		display: block;
		position: relative;
		padding-left: 25px;
		margin-bottom: calc(var(--gap-content) - 5px);

		p:not(:last-child) {
			margin-bottom: 10px;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	ul {

		& > li {

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 9px;
				left: 0;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--color-primary);
			}

		}

	}

	ol {
		counter-reset: list;

		& > li {
			counter-increment: list;

			&:before {
				content: counter(list) '.';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				font-weight: 700;
				text-align: center;
			}

		}

	}

	p {

		img {
			margin: 5px 0;
		}

	}

	img {
		max-width: 100%;
		height: auto;
	}

	iframe {
		max-width: 100%;
	}

	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		border: 1px solid var(--color-border);
	}

	thead {
		background-color: var(--color-background);
	}

	tbody {

		tr:nth-child(2n) {
			background-color: var(--color-background);
		}

	}

	td, th {
		padding: 10px;
		border-bottom: 1px solid var(--color-border);

		&:first-child {
			padding-left: 20px;
		}

		&:last-child {
			padding-right: 20px;
		}

	}

	th {
		font-weight: 600;
		text-align: left;
	}

	hr {
		height: 1px;
		margin: calc(var(--gap-content) + 5px) 0;
		border-width: 0;
		background-color: var(--color-border);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	blockquote {
		display: block;
		padding: calc(var(--gap-content) - 5px) var(--gap-content);
		margin-bottom: var(--gap-content);
		background: var(--color-background);
	}

	.table_wrapper {
		overflow: auto;
	}

	.alignleft {
		float: left;
		margin: 0 var(--gap-content) var(--gap-content) 0;
	}

	.alignright {
		float: right;
		margin: 0 0 var(--gap-content) var(--gap-content);
	}

	.alignnone {
		height: auto;
		margin: 0 0 var(--gap-content);
	}

	.aligncenter {
		display: block;
		max-width: 100%;
		margin: 0 auto var(--gap-content);
	}

	@include tablet_large {

		.alignright, .alignleft {
			display: block;
			float: none;
			margin: 0 0 var(--gap-content);
			text-align: center;
		}

	}

}


/* Galleries and images with captions */

.content {

	.wp-caption-text {
		display: block;
		margin: 0;
		text-align: center;
	}

	.wp-caption {
		display: block;
		overflow: hidden;
		padding: 10px;
		margin-bottom: var(--gap-content);
		background: var(--color-background);

		.wp-caption-text {
			padding: 10px 10px 0;
		}

		a, img {
			display: block;
			margin: 0;
		}

	}

	.gallery {
		@extend %items;
		margin-bottom: calc(var(--gap-content) + 5px);
		--width-item: 33.33%;
		--gap-grid: 10px;
		--gap-vertical: 10px;

		&:last-child {
			margin-bottom: calc(-1 * var(--gap-vertical));
		}

		&-columns-1 {
			--width-item: 100%;
		}

		&-columns-2 {
			--width-item: 50%;
		}

		&-columns-4 {
			--width-item: 25%;
		}

		&-columns-5 {
			--width-item: 20%;
		}

		&-columns-6 {
			--width-item: 16.66%;
		}

		&-columns-7 {
			--width-item: 14.28%;
		}

		&-columns-8 {
			--width-item: 12.5%;
		}

		&-columns-9 {
			--width-item: 11.11%;
		}

		&-columns-6 .gallery-caption,
		&-columns-7 .gallery-caption,
		&-columns-8 .gallery-caption,
		&-columns-9 .gallery-caption {
			@extend %hidden;
		}

	}

	.carousel {
		flex-wrap: nowrap;

		&-dots {
			display: flex;
			margin: var(--gap-content) 0 0;

			li {
				padding: 0;
				margin: 0 5px;

				&:before {
					display: none;
				}

			}

		}

	}

	.f-thumbs {
		margin-top: calc(-1 * var(--gap-content) - 5px);
		--f-thumb-border-radius: 5px;
		--f-thumb-width: 16.666%;
		--f-thumb-height: auto;

		&.is-horizontal .f-thumbs__track {
			padding: 0;
			width: calc(100% + var(--f-thumb-gap));
			--f-thumb-gap: 10px;
		}

		&__slide {
			width: calc(var(--f-thumb-width) - var(--f-thumb-gap));

			&__button {
				width: 100%;
				height: auto;
				margin: 0;

				&:before {
					content: '';
					display: block;
					padding-bottom: 66.666%;
				}

			}

			&__img {
				width: 100%;
				height: 100%;
				padding: 0;
				border-radius: var(--f-thumb-border-radius);
			}

		}

	}

	.gallery-item {
		@extend %item;

		&:after {
			content: '';
			display: block;
			padding-bottom: 66.666%;
		}

		.play {
			@extend %play;
		}

		img {
			position: absolute;
			width: 100%;
			height: 100%;
			inset: 0;
			object-fit: cover;
		}

	}

	.gallery-icon {
		display: flex;
		flex-direction: column;
		flex-grow: 1;

		a, img {
			display: block;
			flex-grow: 1;
			width: 100%;
			height: auto;
			border-radius: var(--radius-small);
		}

		img {
			height: 100%;
			object-fit: cover;
		}

	}

	.gallery-caption {
		display: block;
		padding: 10px;
		background: var(--color-background);
	}

	@include tablet_large() {

		.gallery {
			--width-item: 50%;

			&-columns-1, &-columns-2 {
				--width-item: 100%;
			}

			&-columns-6, &-columns-7 {
				--width-item: 33.33%;
			}

			&-columns-8, &-columns-9 {
				--width-item: 25%;
			}

		}

	}

	@include phone_large() {

		.gallery {
			--width-item: 100%;

			&-columns-6, &-columns-7 {
				width: 50%;
			}

			&-columns-8, &-columns-9 {
				width: 33.33%;
			}

		}

	}

}


/* Embeds */

.wp-block-embed, .wp-embed-video, .wp-video {
	display: block;
	position: relative;
	width: 100%;
	margin: calc(var(--gap-content) + 5px) auto;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

}

.wp-block-embed {

	&.wp-has-aspect-ratio {

		&:before {
			content: '';
			display: block;
			position: relative;
			width: 100%;
			padding-bottom: 56.25%;
		}

		.wp-block-embed__wrapper {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		iframe {
			display: block;
			width: 100%;
			height: 100%;
		}

	}

}

.wp-embed-video, .wp-video-shortcode {

	&:before {
		content: '';
		display: block;
		position: relative;
		width: 0;
		padding-bottom: 56.25%;
	}

	iframe {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

}