%content {
	display: block;
	position: relative;
	margin: -5px 0 calc(var(--gap-contents) - 5px);
	color: var(--color-text);
	font-size: var(--size-content);
	font-weight: 400;
	line-height: var(--line-content);

	&:last-child {
		margin-bottom: 0;
	}

	@include clear();

	h1, h2, h3, h4, h5, h6 {
		margin-top: calc(var(--gap-content) + 15px);

		&:first-child {
			margin-top: 0;
		}

	}

	p, & > table, ul, ol, .table {
		margin-bottom: var(--gap-content);

		&:last-child {
			margin-bottom: 0;
		}

	}

	a:not(.button) {
		color: var(--color-link);
		text-decoration: underline;

		@include hover() {
			&:hover {
				text-decoration: none;
			}
		}

	}

	ul, ol {
		display: block;

		ul, ol {
			padding-top: var(--gap-list);
		}

		li {
			display: block;
			position: relative;
			padding: 0 0 0 1.333em;
			margin-bottom: var(--gap-list);
			--gap-content: var(--gap-list);

			&:last-child {
				margin-bottom: 0;
			}

		}

	}

	ul {

		& > li {

			&:before {
				content: '';
				position: absolute;
				top: calc(0.75 * var(--size-content) - 3px);
				left: 0;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: var(--color-primary);
			}

		}

	}

	ol {
		counter-reset: list;

		& > li {
			counter-increment: list;

			&:before {
				content: counter(list) '.';
				position: absolute;
				top: 0;
				left: 0;
				font-weight: 700;
			}

		}

	}

	img {
		max-width: 100%;
		height: auto;
		margin-inline: 5px 0;
	}

	iframe {
		max-width: 100%;
	}

	table {
		width: 100%;
		border-spacing: 0;
		border-collapse: collapse;
		border: 1px solid var(--color-border);
	}

	thead {
		background-color: var(--color-background);
	}

	tbody {

		tr:nth-child(2n) {
			background-color: var(--color-background);
		}

	}

	td, th {
		padding: var(--gap-table-y) var(--gap-table-x);
		border-bottom: 1px solid var(--color-border);
	}

	th {
		font-weight: 600;
		text-align: left;
	}

	hr {
		height: 1px;
		margin: calc(var(--gap-content) + 5px) 0;
		border-width: 0;
		background-color: var(--color-border);

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	blockquote {
		display: block;
		padding: 10px 0 10px var(--gap-content);
		margin: 0 0 var(--gap-content);
		border-left: 3px solid var(--color-primary);
		font-size: var(--size-large);
		font-weight: 500;
		font-style: normal;
		line-height: 1.5;

		&:last-child {
			margin-bottom: 0;
		}

	}

	.alignleft {
		float: left;
		margin: 0 var(--gap-content) var(--gap-content) 0;
	}

	.alignright {
		float: right;
		margin: 0 0 var(--gap-content) var(--gap-content);
	}

	.alignnone {
		height: auto;
		margin: 0 0 var(--gap-content);
	}

	.aligncenter {
		display: block;
		max-width: 100%;
		margin: 0 auto var(--gap-content);
	}

	p:not(:first-child) img {
		margin-top: 5px;
	}

	p:not(:last-child) img {
		margin-bottom: 5px;
	}

	& > table, .table {
		margin: calc(var(--gap-content) + 5px) 0;
		overflow: auto;

		&:first-child {
			margin-top: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	@include tablet_large {

		.alignright, .alignleft {
			display: block;
			float: none;
			margin: 0 0 var(--gap-content);
			text-align: center;
		}

	}

}