%contents {
	max-width: var(--width-contents);
	margin: 0 auto var(--gap-contents);
	text-align: center;

	&:last-child {
		margin-bottom: 0;
	}

	.content {
		display: inline-block;
		max-width: var(--width-content);
	}

}