[data-loader] {

	&.is_loading {
		border-color: #e0e0e0;
		background-color: #e0e0e0;
		color: transparent;

		&:before {
			visibility: visible;
			opacity: 1;
		}

	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 24px;
		height: 24px;
		margin-top: -12px;
		margin-left: -12px;
		background: url(../images/ico_loader.svg) 50% 50% no-repeat;
		animation: spinning 2s linear infinite;
		transition: 0.2s;
		visibility: hidden;
		opacity: 0;
		z-index: 2;
	}

}

@keyframes spinning {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}